:root {
  --font-family: 'Inter', sans-serif;

  /*NOTE: taipei colors-start*/
  --primary-main-from: #CD2D70;
  --primary-main-to: #CD2D70;
  --primary-variant: #6B0374;
  --primary-variant-from: #6B0374;
  --primary-variant-to: #6B0374;
  --primary-assistant: #FFFFFF;
  --primary-assistant-20: #3B066E33;

  --secondary-main-from: #2AB7CA;
  --secondary-main-to: #2AB7CA;
  --secondary-variant: #157CB6 ;
  --secondary-assistant: #FFE81E;

  --black: #000000;
  --black-50: rgba(0, 0, 0, 0.5);
  --white: #FFFFFF;
  --white-60: rgba(255, 255, 255, 0.6);
  --white-30: #FFFFFF4C;
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);

  --state-success-main: #52DB3D;
  --state-success-variant: #E2FFE8;
  --state-error-main: #FF6A6A;
  --state-error-main-30: rgba(240, 81, 81, 0.3);
  --state-error-variant: #FF9999;

  --state-info-main: #51B7F0 ;
  --state-info-variant: #A4DEFF;
  --state-disable-main: #C5C5C5;
  --state-disable-variant: #969696;

  --background-primary: #3B066E;;
  --background-textfields: #3B066E;
  --background-checkin-from: #641FA9;
  --background-checkin-to: #641FA9;
  --background-modal-from: #3CA8C3;
  --background-modal-to: #1E083A;
  --background-footer: #20033C;

  --background-add-money: #2AD2E9 ;
  --background-vip-level-from: #8A0495;
  --background-vip-level-to: #53089B ;
  --background-invite-from: var(--primary-main-from);
  --background-invite-to: var(--primary-main-to);
  --background-alert-text-from: #6C3D99;
  --background-alert-text-to: #6C3D99 ;
  --background-submenu: #040404;

  --background-dashboard-main-from: #6710C2;
  --background-dashboard-main-via: #E33D94;
  --background-dashboard-main-to: #F160AC;
  --background-dashboard-secondary: #532781;
  --background-modal-telegram-from: #8E37E2;
  --background-modal-telegram-to: #5A179C;

  --background-instruction-from: #270449;
  --background-instruction-to: #270449;

  --background-nav-tab-from: #44097A;
  --background-nav-tab-to: #44097A;

  --stroke-textfields: #CD9CFF;
  --stroke-block: #ABDCFF;
  --stroke-modal: #981DFF;
  --stroke-popup: #FFB84C;
  --stroke-dashboard-main:#9557FA;
  --stroke-dashboard-secondary: #8340C9;
  --stroke-button: rgba(6,240,246,1);
  --stroke-invite: var(--stroke-block);


  --button-login-1-from: #45CCF7;
  --button-login-1-to: #0044C7;

  /*NOTICE: where???*/
  --button-login-2-from: #C5C5C5;
  --button-login-2-to: #969696;

  /*NOTICE: missing*/
  --button-disabled: #9C92B2;

  --button-checkin-from: #FFC121;
  --button-checkin-to: #FF7E21;

  --button-modal-download-from: #1B1927;
  --button-modal-download-to: #1B1927;

  --button-withdraw-from: #8E37E2;
  --button-withdraw-to: #37CDE2;

  --button-deposit-from: #C034DE;
  --button-deposit-to: #DE5634;

  --button-invite-record-from: #00E8ED;
  --button-invite-record-to: #3965FF;

  --button-gametab-focus-from: #6434FF;
  --button-gametab-focus-via: #6434FF;
  --button-gametab-focus-to: #961EFF;
  --button-gametab-focus-shadow: #FFFFFF;

  --button-drawer-linear01-from: #3461D4;
  --button-drawer-linear01-to: #2349A9;

  --button-drawer-linear02-from: #2AB7CA;
  --button-drawer-linear02-to: #196B76;

  --button-drawer-linear03-from: #EF3F69;
  --button-drawer-linear03-to: #E71346 ;

  --button-drawer-linear04-from: #FFBD2B;
  --button-drawer-linear04-to: #F5A900;

  --button-gametab-from: #6434FF;
  --button-gametab-via: #7A74FF;
  --button-gametab-to: #961EFF;

  --button-account-from: #FFC751;
  --button-account-to: #FFAD00;

  --button-check-from: #B705C7;
  --button-check-to: #B705C7;

  --button-confirm-from: #26FDBD;
  --button-confirm-to: #40DDFF;

  --button-telegram-from: #0484E1;
  --button-telegram-to: #0484E1;

  --text-primary: #1C1C1C;
  --text-seondary: #646464;
  --text-tertiary: #BEBEBE;
  --text-white: #FFFFFF;
  --text-deposit: #393228;
  --text-popup: #FFF065;
  --text-group-from: #FF6F6F;
  --text-group-to: #FDDEDE;
  --text-progress: #433734;
  --text-placeholder: var(--text-tertiary);
  --text-instruction: var(--secondary-assistant);
  --text-amount: var(--secondary-assistant);

  --lineary-blue-from: var(--background-modal-telegram-from);
  --lineary-blue-to: var(--background-modal-telegram-to);

  --lineary-bell: #FFCE52;
  --lineary-progress-from: #FFDF66;
  --lineary-progress-to: #FF4690;

  /*NOTE::taipei colors-end*/

  /*NOTE: figma 沒有 自己拆出來的*/
  --input-border: var(--stroke-textfields);
  --input-background: var(--background-textfields);
  --input-placeholder-color: var(--text-placeholder);
  --input-text-color: var(--white);

  --input-focus-border: var(--stroke-textfields);
  --input-focus-background: var(--background-textfields);
  --input-invalidation-border: var(--state-error-variant);
  --input-invalidation-text-color: var(--state-error-variant);

  --drawer-bg: var(--background-primary);
  --drawer-border: rgba(50,63,91,.7);



  /*taichung-start*/
  /*bg*/
  --main: #45CCF7;
  --varient: #002773;
  --assistant: #A1C1FF;
  --medium: #A1C1FF;
  --light: #06F2ED;

  --page-background: var(--background-primary);

  --unknown: #172013 ;

  /*bg-other*/
  --game-block: #212B5C;
  --footer: #212B5C;

  /*main*/
  --main-primary-main: #CAF0F8;
  --main-primary-varient: #1D2147;
  --main-primary-assistant: #1D2147;
  --main-secondary-main: #EFF95C;
  --main-state-error: #1D2147;
  --main-state-warning: #1D2147;

  /*table*/
  --table-main: #3A28AC;
  --table-varient: #341573;
  --table-asisstant: #005265;
  --table-light: #26E5FF;

  /* Table 樣式 */
  --table-thead: var(--primary-variant);
  --table-thead-text: var(--white);
  --table-tbody: var(--primary-assistant-20);
  --table-tbody-zebra: var(--white-20);
  /*--table-tbody-zebra: var(--primary-assistant-20);*/
  --table-tbody-text: var(--white);

  /*button*/
  /*btn/button*/
  --btn-gradient1-from: #58DDFF;
  --btn-gradient1-to: #0D7FFF;

  /*btn/button_2*/
  --btn-gradient2-from: #6600C5;
  --btn-gradient2-to: #0681FF;

  /*btn/button_inactive*/
  --btn-gradient-inactive-from: #D9D9D9;
  --btn-gradient-inactive-to: #C2C2C2;

  /*btn/icon*/
  --btn-gradient-icon-from: #99EDFF;
  --btn-gradient-icon-to: #16FF8F;

  /*btn-vip*/
  --btn-gradient-vip-from: #FE6060;
  --btn-gradient-vip-to: #FFA24D;

  /*dashboard*/
  /*dashboard/block_1*/
  --dashboard-block1-gradient-from: #8692FF;
  --dashboard-block1-gradient-to: #55F1D5;
  /*dashboard/block_2*/
  --dashboard-block2-gradient-from: #1EE59E;
  --dashboard-block2-gradient-to: #E2FD97;
  /*dashboard/block_3*/
  --dashboard-block3-gradient-from: #FFA73F;
  --dashboard-block3-gradient-to: #FFB8B8;


  /*dashboard/dashboard_base*/
  --dashboard-base: #F2FFDD;
  /*dashboard/block_1*/
  --dashboard-block1: #6432F1;

  /*dashboard/block_2*/
  --dashboard-block2: #028350;
  /*dashboard/block_3*/
  --dashboard-block3: #CA044B;



  /*text*/
  /*text/telegram*/
  --text-telegram: #003BC6;
  /*text/black*/
  /*--black: #000000;*/
  /*text/white*/
  /*--white: #FFFFFF;*/
  /*text/grey*/
  --gray: #D9D9D9;

  /*text-dashboard*/
  --text-block1: #6432F1;
  /*text-ad*/
  --text-gradient-ad-from: #FFEF00;
  --text-gradient-ad-to: #FFC100;

  /*text-ad_tg*/
  --text-gradient-ad-tg-from: #D071FD;
  --text-gradient-ad-tg-to: #003BC6;


  --tab-primary-from: var(--primary-main-to);
  --tab-primary-to: var(--primary-main-from);

  --tab-text-color-normal: #FFFFFF;
  --tab-text-color-active: #FFFFFF;

  /* scrollbar */
  --scrollbar-width: 3px;
  --scrollbar-color: var(--white-20);
  --scrollbar-background: 'transparent';
  --scrollbar-rounded: 10px;

  --text-event-banner: #FFFFFF;
  --text-stroke-event-from: #FFFFFF;
  --text-stroke-event-to: #D8D8D8;
  --activity-text-shadow-90: rgba(32, 32, 32, 0.9);

  /* --- Transparente --- */
  --transparente-90: rgba(255, 255, 255, 0.9);
  --transparente-80: rgba(255, 255, 255, 0.8);
  --transparente-70: rgba(255, 255, 255, 0.7);
  --transparente-60: rgba(255, 255, 255, 0.6);
  --transparente-50: rgba(255, 255, 255, 0.5);
  --transparente-40: rgba(255, 255, 255, 0.4);
  --transparente-30: rgba(255, 255, 255, 0.3);
  --transparente-25: rgba(255, 255, 255, 0.25);
  --transparente-20: rgba(255, 255, 255, 0.2);
  --transparente-10: rgba(255, 255, 255, 0.1);

  --transparente-black-90: rgba(0, 0, 0, 0.9);
  --transparente-black-80: rgba(0, 0, 0, 0.8);
  --transparente-black-70: rgba(0, 0, 0, 0.7);
  --transparente-black-60: rgba(0, 0, 0, 0.6);
  --transparente-black-50: rgba(0, 0, 0, 0.5);
  --transparente-black-40: rgba(0, 0, 0, 0.4);
  --transparente-black-30: rgba(0, 0, 0, 0.3);
  --transparente-black-25: rgba(0, 0, 0, 0.25);
  --transparente-black-20: rgba(0, 0, 0, 0.2);
  --transparente-black-10: rgba(0, 0, 0, 0.1);

  --linear-blue-main: linear-gradient(0deg, var(--lineary-blue-from) 0%, var(--lineary-blue-to) 100%);
  --linear-secondary-main: linear-gradient(0deg, var(--secondary-main-from) 0%, var(--secondary-main-to) 100%);
}
