.my-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  color: var(--grayscale-100);

  .my {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: var(--linear-1);
    text-align: center;

    .my-head {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
      cursor: pointer;

      @include bp(mobile) {
        width: 70px;
        height: 70px;
      }

      .my-head-icon {
        overflow: hidden;
        width: 60px;
        height: 60px;

        @include bp(mobile) {
          width: 70px;
          height: 70px;
        }
      }

      .head-border {
        position: absolute;
        width: 68px;
        height: 68px;
        max-width: none;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include bp(mobile) {
          width: 80px;
          height: 80px;
        }
      }
    }

    .my-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      .id-content {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-items: center;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .my-balance {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      background: var(--base-2-main);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .my-btns {
    display: flex;
    gap: 12px;
    width: 100%;
  }

  .vip-info {
    padding: 12px;
    border-radius: 4px;
    background: var(--grayscale-20);

    .vip-lv {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .vip-progress {
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }

    .vip-btns {
      display: flex;
      gap: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .btnItems {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 8px;
    background: var(--grayscale-10);

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--grayscale-10);
      padding: 8px 12px;

      &:hover {
        background: var(--grayscale-15);
      }

      &:active {
        background: var(--grayscale-00);
      }

      &:disabled {
        background: var(--transparent-gray-60);
        filter: grayscale(100%);
      }

      .item-txt {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        background: var(--base-2-main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    .item-border {
      border-bottom: 1px solid var(--grayscale-30);
    }
  }

  .banner {
    width: 100%;
  }

  .quit {
    display: flex;
    justify-content: center;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    background: var(--grayscale-10);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--grayscale-50);
    text-align: center;

    .quit-layout {
      display: flex;
      gap: 8px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  //.btn {
  //  //display: flex;
  //  //gap: 4px;
  //  //flex-direction: column;
  //  //width: 100%;
  //  //padding: 4px 16px 4px 16px;
  //  //border-radius: 4px;
  //  //justify-content: center;
  //  //align-items: center;
  //  //background: var(--base-1-main);
  //  //box-shadow: 0px 4px 4px 0px #cccccc40 inset,
  //  //  0px -4px 4px 0px #33333340 inset;
  //
  //  //&:hover {
  //    //background: var(--base-1-light);
  //  //}
  //
  //  //&:active {
  //    //background: var(--base-1-dark);
  //  //}
  //
  //  //&:disabled {
  //  //  color: var(--transparent-white-30);
  //  //  background: var(--transparent-gray-30);
  //  //}
  //
  //  //img {
  //  //  width: 20px;
  //  //  height: 20px;
  //  //}
  //}
}

.bet-amount-progress.ant-progress {
  line-height: 0px;
  border: 1px solid #fe8b34;
  border-radius: 100px;
}

// antd
.bet-amount-progress.ant-progress .ant-progress-inner {
  background: var(--transparent-white-10);
}

.bet-amount-progress.ant-progress .ant-progress-success-bg,
.bet-amount-progress.ant-progress .ant-progress-bg {
  background: var(--linear-5);
}
