@mixin w100() {
  width: nth($percent5, 20);
}

@mixin w50() {
  width: nth($percent5, 10);
}

@mixin w33() {
  width: 33.33333%;
}

@mixin h100() {
  height: nth($percent5, 20);
}

@mixin wh100() {
  width: nth($percent5, 20);
  height: nth($percent5, 20);
}

@mixin fullscreen() {
  width: 100vw;
  height: 100vh;
}

@mixin min-W($minWidth) {
  min-width: $minWidth;
}

@mixin min-H($minHeight) {
  min-height: $minHeight;
}

@mixin min-WH($minWidth, $minHeight) {
  min-width: $minWidth;
  min-height: $minHeight;
}

@mixin max-W($maxWidth) {
  max-width: $maxWidth;
}

@mixin max-H($maxHeight) {
  max-height: $maxHeight;
}

@mixin max-WH($maxWidth, $maxHeight) {
  max-width: $maxWidth;
  max-height: $maxHeight;
}

@mixin clear-min-max($option) {
  @if $option == 'min' {
    min-width: inherit;
    min-height: inherit;
  } @else if $option == 'max' {
    max-width: inherit;
    max-height: inherit;
  } @else if $option == 'min-W' {
    min-width: inherit;
  } @else if $option == 'max-H' {
    min-height: inherit;
  } @else if $option == 'max-W' {
    max-width: inherit;
  } @else if $option == 'max-H' {
    max-height: inherit;
  } @else if $option == 'all' {
    min-width: inherit;
    min-height: inherit;
    max-width: inherit;
    max-height: inherit;
  }
}

@mixin list-unstyled() {
  padding-left: 0;
  list-style: none;
}

@mixin img-fluid() {
  max-width: 100%;
  height: auto;
}

@mixin position-relative() {
  position: relative;
}

@mixin position-fixed() {
  position: fixed;
}

@mixin position-fixed-full($zindex) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-fixed-left-top-0($zindex) {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex;
}

@mixin position-fixed-left-bottom-0($zindex) {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-fixed-right-top-0($zindex) {
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex;
}

@mixin position-fixed-right-bottom-0($zindex) {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-fixed-left-top($left, $top, $zindex) {
  position: fixed;
  left: $left;
  top: $top;
  z-index: $zindex;
}

@mixin position-fixed-left-bottom($left, $bottom, $zindex) {
  position: fixed;
  left: $left;
  bottom: $bottom;
  z-index: $zindex;
}

@mixin position-fixed-right-top($right, $top, $zindex) {
  position: fixed;
  right: $right;
  top: $top;
  z-index: $zindex;
}

@mixin position-fixed-right-bottom($right, $top, $zindex) {
  position: fixed;
  right: $right;
  bottom: $top;
  z-index: $zindex;
}

@mixin position-absolute-full($zindex) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-absolute-left-top-0($zindex) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex;
}

@mixin position-absolute-left-bottom-0($zindex) {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-absolute-right-top-0($zindex) {
  position: absolute;
  right: 0;
  top: 0;
  z-index: $zindex;
}

@mixin position-absolute-right-bottom-0($zindex) {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: $zindex;
}

@mixin position-absolute-left-top($left, $top, $zindex) {
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
}

@mixin position-absolute-left-bottom($left, $bottom, $zindex) {
  position: absolute;
  left: $left;
  bottom: $bottom;
  z-index: $zindex;
}

@mixin position-absolute-right-top($right, $top, $zindex) {
  position: absolute;
  right: $right;
  top: $top;
  z-index: $zindex;
}

@mixin position-absolute-right-bottom($right, $top, $zindex) {
  position: absolute;
  right: $right;
  bottom: $top;
  z-index: $zindex;
}

@mixin position-absolute-left-top-center($zindex) {
  position: absolute;
  left: nth($percent5, 10);
  top: nth($percent5, 10);
  z-index: $zindex;
  transform: translate(-50%, -50%);
}

@mixin main-btn($hoverOrNot) {
  @if $hoverOrNot {
    color: map-get($loginNextBtn, hover);
  } @else {
    background-color: $main;
    color: map-get($loginNextBtn, default);
    border-radius: nth($px8x, 3);
    padding: 0.375rem 0.75rem;
    line-height: nth($dot5, 3);
  }
}

@mixin gray-btn($hoverOrNot) {
  @if $hoverOrNot {
    color: map-get($loginNextBtn, hover);
  } @else {
    background-color: $grayBtnBg;
    color: map-get($loginNextBtn, default);
    border-radius: nth($px8x, 3);
    padding: 0.375rem 0.75rem;
    line-height: nth($dot5, 3);
  }
}

@mixin s-btn($hoverOrNot) {
  @if $hoverOrNot {
    color: map-get($loginNextBtn, hover);
  } @else {
    width: 3rem;
    background-color: $main;
    color: map-get($loginNextBtn, default);
    border-radius: nth($px, 5);
    padding: 0.1rem 0;
    line-height: nth($dot5, 3);
    font-size: 0.5rem;
  }
}

@mixin form-unit-base() {
  display: block;
  width: 100%;
  height: calc(1.5rem + 0.75rem + 2px);
  font-size: nth($rem5x, 2);
  font-weight: nth($num100, 4);
  line-height: nth($dot5, 3);
  color: $gray-700;
  transition: all 0.15s ease-in-out;
}

@mixin box-shadow() {
  box-shadow: 0 nth($px, 3) nth($px, 6) 0 rgba(0, 0, 0, 0.16);
}

@mixin bg-color($color) {
  background-color: $color;
}

@mixin bg-img($img) {
  background-image: url($img);
}

@mixin bg-img-setting() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-visual-setting($minH) {
  min-height: $minH;
  background-attachment: fixed;
  background-size: cover;
}

/// Draw a right triangle arrow
/// @author Odin
/// @param {Boolean} $isArror - true => 箭頭的設定 || false => after的設定
/// @param {Unit} $outerWidth - 外層父元素的寬
/// @param {Unit} $outerHeight - 外層父元素的高
/// @param {Unit} $arrowWidth - 箭頭的寬(建議跟高一樣)
/// @param {Unit} $arrowHeight - 箭頭的高(建議跟寬一樣)
/// @param {Unit} $arrowBorderWidth - 箭頭的寬度
/// @param {Unit} $arrowColor - 箭頭的顏色
/// 單位建議用絕對單位
@mixin right-arrow(
  $isArror,
  $outerWidth,
  $outerHeight,
  $arrowWidth,
  $arrowHeight,
  $arrowBorderWidth,
  $arrowColor
) {
  @if $isArror {
    display: inline-block;
    position: relative;
    width: $outerWidth;
    height: $outerHeight;
  } @else {
    display: inline-block;
    content: ' ';
    height: $arrowWidth;
    width: $arrowHeight;
    border-width: $arrowBorderWidth $arrowBorderWidth 0 0;
    border-color: $arrowColor;
    border-style: solid;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: 0;
  }
}

@mixin notification-text() {
  font-size: nth($rem5x, 2);
  color: $gray-900;
  line-height: nth($dot5, 3);
  font-weight: nth($num100, 4);
}

@mixin elimate-aTag-attribute() {
  text-decoration: none;
}

@mixin tab-outer() {
  @include w100;
  border-bottom: 1px solid #ccc;
}

@mixin tab-hover() {
  border-top-left-radius: nth($rem25x, 1);
  border-top-right-radius: nth($rem25x, 1);
  border-color: $gray-200 $gray-200 $gray-300;
}

@mixin footer-text-block {
  display: block;
  font-size: nth($rem5x, 2);
  line-height: nth($dot5, 3);
  letter-spacing: 0.76px;
  color: $white;
}
