.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .wrapper {
    padding: 24px;
    overflow: auto;
    max-height: calc(100vh - 230px);
    .cpuAndGpu {
      display: flex;
    }
  }
  .footer {
    bottom: 0px;
    background: #fff;
    .submit {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      margin: auto;
    }
  }
}

.paddingTopBottom12 {
  padding: 12px 0;
}

.marginTop20 {
  margin-top: 20px;
}
