$light-base: (
  --bg-headerbottom: #ffffff,
  --bg-main: #f6f7f8,
  --bg-side: #ffffff,
  --emotional-03: #3ecc31,
  --emotional-01: #ff3b3b,
  --emotional-02: #ffe2e3,
  --emotional-04: #009d46,
  --emotional-05: #ddf6e8,
  --emotional-06: #00d0ff,
  --emotional-07: #008ae6,
  --emotional-08: #d2edff,
  --emotional-correct-01: #67c23a,
  --emotional-correct-02: #9ace7f,
  --emotional-danger-01: #ff4343,
  --emotional-danger-02: #ff0000,
  --emotional-default-01: #1677ff,
  --emotional-default-02: #79bbff,
  --emotional-warning-01: #ffd600,
  --emotional-warning-02: #ffe5b9,
  --neutral-01: #ffffff,
  --neutral-02: #ffffff99,
  --neutral-03: #dfdfdf,
  --neutral-04: #f1f1f1,
  --neutral-05: #8a8a8a,
  --neutral-06: #333333,
  --neutral-07: #0000001a,
  --neutral-08: #0000003d,
  --neutral-09: #000000e0,
  --neutral-10: #000000,
  --neutral-100: #000000,
  --primary-01: #025be8,
  --primary-02: #6c7890,
  --primary-03: #1677ff,
  --primary-04: #d4f1fe,
  --primary-05: #025be814,
  --primary-06: #bec7dc,
  --primary-07: #f6f7f8,
  --primary-08: #92a1c2,
  --primary-09: #74aaff,
  --secondary-01: #0d2245,
  --secondary-02: #45260d,
  --secondary-03: #00000099,
  --secondary-04: #191e2d,
  --secondary-05: #1bc870,
  --secondary-06: #009d46,
  --secondary-07: #ddf6e8,
  --secondary-08: #ffe2e3,
  --secondary-09: #00000099,
  --secondary-10: #ffffff,
  --secondary-11: #ffffff,
  --secondary-12: #ffffff,
  --secondary-13: #ffffff,
  --secondary-14: #ffffff,
  --secondary-15: #ffffff,
  --secondary-16: #ffffff,
  --text-01: #0d2245,
  --text-link: #0054fb,
  --ticker-01: #025BE8,
  --ticker-02: #1677FF,
  --ticker-03: #013382,

  --white-01: #ffffff,
  --black-01: #000000,
  --black-01-rgb: (0, 0, 0),
  --gray-01-rgb: (191, 201, 235),
  --color-white-white-0: #ffffff,

  // ... 其他基礎色
);

$dark-base: (
  --bg-headerbottom: #1e1335,
  --bg-main: #1e1628,
  --bg-side: #291658,
  --emotional-03: #3ecc31,
  --emotional-01: #ff3b3b,
  --emotional-02: #ffe2e3,
  --emotional-04: #009d46,
  --emotional-05: #ddf6e8,
  --emotional-06: #00d0ff,
  --emotional-07: #008ae6,
  --emotional-08: #d2edff,
  --emotional-correct-01: #67c23a,
  --emotional-correct-02: #9ace7f,
  --emotional-danger-01: #ff4343,
  --emotional-danger-02: #ff0000,
  --emotional-default-01: #1677ff,
  --emotional-default-02: #79bbff,
  --emotional-warning-01: #e6a23c,
  --emotional-warning-02: #ffe5b9,
  --neutral-01: #3f266b,
  --neutral-02: #522d92,
  --neutral-03: #6c44a4,
  --neutral-04: #391461,
  --neutral-05: #d2d2d23d,
  --neutral-06: #333333,
  --neutral-07: #ffffff1a,
  --neutral-08: #ffffff3d,
  --neutral-09: #ffffffe0,
  --neutral-10: #ffffff,
  --neutral-100: #000000,
  --primary-01: #8d5bff,
  --primary-02: #af9dd5,
  --primary-03: #834cff,
  --primary-04: #d4f1fe,
  --primary-05: #7102e814,
  --primary-06: #ffffff4d,
  --primary-07: #391e65,
  --primary-08: #bdadd2,
  --primary-09: #7d62ad,
  --secondary-01: #ffffff,
  --secondary-02: #45260d,
  --secondary-03: #00000099,
  --secondary-04: #180e20,
  --secondary-05: #1bc870,
  --secondary-06: #009d46,
  --secondary-07: #ddf6e8,
  --secondary-08: #ffe2e3,
  --secondary-09: #00000099,
  --secondary-10: #070609,
  --secondary-11: #0c0c1c,
  --secondary-12: #03032366,
  --secondary-13: #ffffff,
  --secondary-14: #ffffff,
  --secondary-15: #ffffff,
  --secondary-16: #ffffff,
  --text-01: #ffffff,
  --text-link: #ff00f2,
  --ticker-01: #FFFFFF,
  --ticker-02: #8D5BFF,
  --ticker-03: #AF9DD5,

  --white-01: #ffffff,
  --black-01: #000000,
  --black-01-rgb: (0, 0, 0),
  --gray-01-rgb: (191, 201, 235),
  --color-white-white-0: #ffffff,

  // ... 其他基礎色
);


$themes: (
  light: map-merge($light-base, ( // Component light theme colors
      --bg-01: #8139ff,
      --bg-02: #0004ff,
      --bg-03: #d000ff,
      --bg-04: #f6f7f8,
      --bg-05: #0000000d,
      --bg-06: #ffffff,
      --bg-07: #ffffff,
      --bg-08: map-get($light-base, --primary-07),
      --bg-09: map-get($light-base, --primary-01),
      --bg-10: map-get($light-base, --primary-02),
      --bg-11: #ffffff,
      --bg-12: #ffffff,
      --bg-13: map-get($light-base, --secondary-01),
      --bg-14: map-get($light-base, --neutral-02),
      --bg-15: map-get($light-base, --secondary-15),
      --bg-16: map-get($light-base, --secondary-16),
      --bg-17: map-get($light-base, --secondary-09),
      --bg-18: map-get($light-base, --secondary-07),
      --bg-19: #4c38c0,
      --bg-20: #f7a491,
      --bg-21: #f47458,
      --bg-22: #ffffff,
      --bg-23: #ffffff,
      --bg-footer: #191e2d,
      --bg-header: #ffffff,
      --bg-line-01: #ffffff1a,
      --bg-line-02: #ffffff1a,
      --bg-line-03: #ffffff78,
      --bg-line-04: #3ecc31,
      --bg-line-05: #00d0ff,
      --bg-line-06: #ffffff00,
      --bg-line-07: #dfdfdf,
      --bg-navbar: #ffffff,
      --bg-pagination: #0c0c1c,
      --bg-sidebar: #ffffff,
      --btn-bg-01: #025be8,
      --btn-bg-02: #025be8,
      --btn-bg-03: #025be8,
      --btn-bg-04: map-get($light-base, --neutral-03),
      --btn-bg-05: map-get($light-base, --neutral-04),
      --btn-bg-06: map-get($light-base, --secondary-11),
      --btn-bg-07: map-get($light-base, --neutral-05),
      --btn-bg-08: map-get($light-base, --secondary-14),
      --btn-border-01: map-get($light-base, --neutral-05),
      --btn-border-02: map-get($light-base, --primary-01),
      --btn-border-03: #ffffff,
      --btn-icon-01: map-get($light-base, --neutral-01),
      --btn-text-01: map-get($light-base, --secondary-15),
      --btn-text-02: #6c7890,
      --btn-text-03: map-get($light-base, --neutral-07),
      --btn-text-04: map-get($light-base, --primary-01),
      --btn-text-05: #ffffff,
      --card-bg-01: map-get($light-base, --neutral-100),
      --card-bg-02: map-get($light-base, --secondary-07),
      --card-bg-03: map-get($light-base, --secondary-06),
      --card-bg-04: map-get($light-base, --neutral-08),
      --card-border-01: map-get($light-base, --primary-01),
      --card-text-01: map-get($light-base, --primary-01),
      --card-text-02: map-get($light-base, --neutral-01),
      --card-text-03: map-get($light-base, --neutral-04),
      --dialog-bg: map-get($light-base, --primary-07),
      --dialog-bg-02: #ffffff,
      --dialog-text-01: map-get($light-base, --neutral-09),
      --dialog-text-02: #0d2245,
      --dialog-text-03: #ffffff,
      --icon-01: #025be8,
      --icon-02: map-get($light-base, --neutral-05),
      --icon-03: map-get($light-base, --neutral-09),
      --icon-04: map-get($light-base, --primary-01),
      --icon-05: map-get($light-base, --emotional-01),
      --icon-06: map-get($light-base, --emotional-03),
      --icon-bg-01: map-get($light-base, --primary-01),
      --icon-bg-02: map-get($light-base, --neutral-01),
      --icon-bg-03: map-get($light-base, --secondary-01),
      --icon-bg-04: map-get($light-base, --secondary-08),
      --icon-bg-05: map-get($light-base, --secondary-09),
      --icon-bg-06: map-get($light-base, --emotional-01),
      --icon-bg-07: map-get($light-base, --secondary-14),
      --icon-bg-08: map-get($light-base, --secondary-07),
      --icon-border-01: map-get($light-base, --neutral-03),
      --icon-navber-01: map-get($light-base, --neutral-01),
      --icon-navber-02: map-get($light-base, --secondary-06),
      --icon-navber-03: map-get($light-base, --primary-01),
      --icon-navber-04: map-get($light-base, --primary-02),
      --icon-pagination: map-get($light-base, --neutral-03),
      --icon-sidebar-focused: map-get($light-base, --neutral-03),
      --input-dropdown-bg-01: map-get($light-base, --secondary-10),
      --input-dropdown-border-01: map-get($light-base, --neutral-05),
      --input-dropdown-border-02: map-get($light-base, --emotional-01),
      --input-dropdown-text-01: #676767,
      --input-dropdown-text-02: map-get($light-base, --neutral-01),
      --input-dropdown-text-03: map-get($light-base, --neutral-05),
      --tab-bg-01: map-get($light-base, --primary-04),
      --tab-bg-02: map-get($light-base, --primary-09),
      --tab-bg-03: map-get($light-base, --primary-06),
      --tab-bg-04: map-get($light-base, --neutral-05),
      --tab-bg-05: map-get($light-base, --neutral-04),
      --tab-line-01: map-get($light-base, --neutral-07),
      --tab-text-01: map-get($light-base, --neutral-100),
      --tag-bg-01: map-get($light-base, --neutral-05),
      --tag-bg-02: map-get($light-base, --emotional-02),
      --tag-bg-03: map-get($light-base, --emotional-05),
      --tag-bg-04: map-get($light-base, --emotional-08),
      --tag-text-01: map-get($light-base, --neutral-01),
      --tag-text-02: map-get($light-base, --emotional-01),
      --tag-text-03: map-get($light-base, --emotional-04),
      --tag-text-04: map-get($light-base, --emotional-07),
      --text-01: map-get($light-base, --secondary-13),
      --text-02: map-get($light-base, --neutral-09),
      --text-03: map-get($light-base, --neutral-05),
      --text-04: map-get($light-base, --secondary-16),
      --text-05: map-get($light-base, --emotional-03),
      --text-06: map-get($light-base, --emotional-01),
      --text-07: map-get($light-base, --primary-01),
      --text-footer: #d4f1fe,
      --text-pagination-enabled: map-get($light-base, --primary-01),
      --text-pagination-focused: map-get($light-base, --primary-01),
    )),
  dark: map-merge($dark-base, ( // Component dark theme colors
      --bg-01: #ffffff00,
      --bg-02: #ffffff00,
      --bg-03: #ffffff00,
      --bg-04: map-get($dark-base, --secondary-10),
      --bg-05: map-get($dark-base, --secondary-12),
      --bg-06: #1e1335,
      --bg-07: #1e1335,
      --bg-08: map-get($dark-base, --secondary-11),
      --bg-09: #8d5bff,
      --bg-10: #8d5bff,
      --bg-11: #3f266b,
      --bg-12: #8d5bff3d,
      --bg-13: #03032366,
      --bg-14: map-get($dark-base, --neutral-02),
      --bg-15: map-get($dark-base, --secondary-15),
      --bg-16: map-get($dark-base, --secondary-16),
      --bg-17: map-get($dark-base, --secondary-03),
      --bg-18: map-get($dark-base, --secondary-07),
      --bg-19: #4c38c0,
      --bg-20: #f7a491,
      --bg-21: #f47458,
      --bg-22: map-get($dark-base, --neutral-07),
      --bg-23: map-get($dark-base, --neutral-01),
      --bg-footer: #180e20,
      --bg-header: #000025,
      --bg-line-01: map-get($dark-base, --neutral-02),
      --bg-line-02: map-get($dark-base, --neutral-05),
      --bg-line-03: map-get($dark-base, --neutral-03),
      --bg-line-04: map-get($dark-base, --emotional-03),
      --bg-line-05: map-get($dark-base, --emotional-06),
      --bg-line-06: #6c44a4,
      --bg-line-07: #6c44a4,
      --bg-navbar: #0c0c1c,
      --bg-pagination: #391461,
      --bg-sidebar: #000025,
      --btn-bg-01: #8d5bff,
      --btn-bg-02: #8d5bff,
      --btn-bg-03: #391461,
      --btn-bg-04: map-get($dark-base, --neutral-03),
      --btn-bg-05: map-get($dark-base, --neutral-04),
      --btn-bg-06: map-get($dark-base, --secondary-11),
      --btn-bg-07: map-get($dark-base, --neutral-05),
      --btn-bg-08: map-get($dark-base, --secondary-14),
      --btn-border-01: map-get($dark-base, --neutral-05),
      --btn-border-02: map-get($dark-base, --primary-01),
      --btn-border-03: map-get($dark-base, --neutral-01),
      --btn-icon-01: map-get($dark-base, --neutral-01),
      --btn-text-01: map-get($dark-base, --neutral-09),
      --btn-text-02: #af9dd5,
      --btn-text-03: map-get($dark-base, --neutral-07),
      --btn-text-04: map-get($dark-base, --primary-01),
      --btn-text-05: map-get($dark-base, --neutral-01),
      --card-bg-01: map-get($dark-base, --neutral-100),
      --card-bg-02: map-get($dark-base, --secondary-07),
      --card-bg-03: map-get($dark-base, --secondary-06),
      --card-bg-04: map-get($dark-base, --neutral-08),
      --card-border-01: map-get($dark-base, --primary-01),
      --card-text-01: map-get($dark-base, --primary-01),
      --card-text-02: map-get($dark-base, --neutral-01),
      --card-text-03: map-get($dark-base, --neutral-04),
      --dialog-bg: map-get($dark-base, --neutral-01),
      --dialog-bg-02: #1d125d,
      --dialog-text-01: #ffffff,
      --dialog-text-02: #ffffff,
      --dialog-text-03: #ffffff,
      --icon-01: map-get($dark-base, --neutral-09),
      --icon-02: map-get($dark-base, --neutral-03),
      --icon-03: map-get($dark-base, --neutral-04),
      --icon-04: #8d5bff,
      --icon-05: map-get($dark-base, --emotional-01),
      --icon-06: map-get($dark-base, --emotional-03),
      --icon-bg-01: map-get($dark-base, --primary-01),
      --icon-bg-02: map-get($dark-base, --neutral-01),
      --icon-bg-03: map-get($dark-base, --secondary-01),
      --icon-bg-04: map-get($dark-base, --secondary-08),
      --icon-bg-05: map-get($dark-base, --secondary-09),
      --icon-bg-06: map-get($dark-base, --emotional-01),
      --icon-bg-07: map-get($dark-base, --secondary-14),
      --icon-bg-08: map-get($dark-base, --secondary-07),
      --icon-border-01: map-get($dark-base, --neutral-03),
      --icon-navber-01: map-get($dark-base, --neutral-01),
      --icon-navber-02: map-get($dark-base, --secondary-06),
      --icon-navber-03: map-get($dark-base, --primary-01),
      --icon-navber-04: map-get($dark-base, --primary-02),
      --icon-pagination: map-get($dark-base, --neutral-01),
      --icon-sidebar-focused: map-get($dark-base, --neutral-01),
      --input-dropdown-bg-01: #0000000d,
      --input-dropdown-border-01: #d2d2d23d,
      --input-dropdown-border-02: map-get($dark-base, --emotional-01),
      --input-dropdown-text-01: #ffffffc4,
      --input-dropdown-text-02: #ffffff,
      --input-dropdown-text-03: #d2d2d23d,
      --tab-bg-01: #8d5bff,
      --tab-bg-02: #af9dd5,
      --tab-bg-03: map-get($dark-base, --secondary-10),
      --tab-bg-04: map-get($dark-base, --neutral-05),
      --tab-bg-05: #1e1335,
      --tab-line-01: map-get($dark-base, --neutral-05),
      --tab-text-01: map-get($dark-base, --text-01),
      --tag-bg-01: map-get($dark-base, --neutral-05),
      --tag-bg-02: map-get($dark-base, --emotional-02),
      --tag-bg-03: map-get($dark-base, --emotional-05),
      --tag-bg-04: map-get($dark-base, --emotional-08),
      --tag-text-01: map-get($dark-base, --neutral-01),
      --tag-text-02: map-get($dark-base, --emotional-01),
      --tag-text-03: map-get($dark-base, --emotional-04),
      --tag-text-04: map-get($dark-base, --emotional-07),
      --text-01: map-get($dark-base, --secondary-13),
      --text-02: map-get($dark-base, --neutral-09),
      --text-03: #ffffffe0,
      --text-04: map-get($dark-base, --secondary-16),
      --text-05: map-get($dark-base, --emotional-03),
      --text-06: map-get($dark-base, --emotional-01),
      --text-07: map-get($dark-base, --primary-01),
      --text-footer: #d4f1fe,
      --text-pagination-enabled: #ffffffe0,
      --text-pagination-focused: #ffffff,
    )),
);

@mixin theme-vars($theme) {
  @each $key, $value in map-get($themes , $theme) {
    #{$key}: #{$value};
  }
}

@mixin light {
  .body--light & {
    @content;
  }
}

@mixin dark {
  .body--dark & {
    @content;
  }
}

:root {
  @include theme-vars('light')
}

.body--dark {
  @include theme-vars('dark')
}