$emotional002: #3ecc31;
$emotional01: #e02916;
$emotional02: #ffe2e3;
$emotional03: #00d0ff;
$emotional04: #009d46;
$emotional05: #ddf6e8;
$emotional06: #00d0ff;
$emotional07: #008ae6;
$emotional08: #d2edff;

$neutral01: #ffffff;
$neutral02: #ffffffbf;
$neutral03: #af9dd5;
$neutral04: #D2D2D23D;
$neutral05: #d2d2d21a;
$neutral06: #7b7b7b;
$neutral07: #676767;
$neutral08: #262626;
$neutral09: #ffffff;
$neutral10: #ffffff;
$neutral100: #1a0530;

$primany01: #ce4388;
$primany02: #a10020;
$primany03: #1e1335;
$primany04: #9333ea;
$primany05: #0fa37d;
$primany06: #1fc88f;
$primany07: #9333ea00;
$primany08: #9333ea80;
$primany09: #ffffff;
$primany10: #1c0136;
$primany11: #1a0530f0;

$secondary01: #03032366;
$secondary02: #0C0C1C;
$secondary03: #00000099;
$secondary04: #b1a79e;
$secondary05: #ffffff;
$secondary06: #1a0530;
$secondary07: #290a45;
$secondary08: #0b0f19;
$secondary09: #9333ea;
$secondary10: #180e20;
$secondary11: #1a0530;
$secondary12: #290a45;
$secondary13: #290a45;
$secondary14: #1a0530;
$secondary15: #4064ff;
$secondary16: #78d3f8;
$secondary17: #290b45;

$gradient01: $primany01;

$shadoe01: 0px 2px 4px 0px #00000080;
$shadoe02: 0px 4px 4px 0px #00000066;
$shadoe03: 0px 2px 4px 0px #00000050;

$bg01: #8139ff;
$bg02: #0004ff;
$bg03: #d000ff;
$bg04: $secondary12;
$bg05: $secondary10;
$bg06: $secondary07;
$bg07: $secondary11;
$bg08: $primany03;
$bg09: $primany01;
$bg10: $primany01;
$bg11: $secondary06;
$bg12: $neutral02;
$bg13: $secondary10;
$bg14: $neutral02;
$bg15: $secondary15;
$bg16: $secondary16;
$bg17: $secondary03;
$bgFooter: $neutral100;
$bgHeader: $secondary11;
$bgLine01: $neutral02;
$bgLine02: $neutral05;
$bgLine03: $neutral03;
$bgNavbar: $secondary11;
$btnBg01: $primany01;
$btnBg02: $primany02;
$btnBg03: #ce438800;
$btnBg04: $neutral03;
$btnBg05: $neutral04;
$btnBg06: $secondary11;
$btnBorder01: $neutral05;
$btnBorder02: $primany01;
$btnBorder03: $neutral01;
$btnIcon01: $neutral01;
$btnText01: $neutral01;
$btnText02: $neutral03;
$btnText03: $neutral07;
$btnText04: $primany01;
$cardBg01: $neutral100;
$cardBorder01: $primany01;
$cardText01: $primany01;
$cardText02: $neutral01;
$cardText03: $neutral04;
$dialogBg: $secondary11;
$dialogText01: $neutral01;
$icon01: $neutral01;
$icon02: $neutral03;
$icon03: $neutral04;
$icon04: $primany01;
$icon05: $emotional01;
$iconBg01: $primany01;
$iconBg02: $neutral01;
$iconBg03: $secondary01;
$iconBg04: $secondary08;
$iconBg05: $secondary09;
$iconBg06: $emotional01;
$iconBg07: $secondary14;
$iconBg08: $secondary07;
$iconBorder01: $neutral03;
$iconNavber01: $neutral01;
$iconNavber02: $secondary06;
$iconNavber03: $primany01;
$iconNavber04: $primany02;
$inputDropdownBg01: $secondary10;
$inputDropdownBorder01: $neutral05;
$inputDropdownBorder02: $emotional01;
$inputDropdownText01: $neutral04;
$inputDropdownText02: $neutral01;
$inputDropdownText03: $neutral05;
$tabBg01: $primany01;
$tabBg02: $primany02;
$tabBg03: $secondary10;
$tabBg04: $neutral05;
$tabText01: $neutral01;
$tagBg01: $neutral05;
$tagBg02: $emotional02;
$tagBg03: $emotional05;
$tagBg04: $emotional08;
$tagText01: $neutral01;
$tagText02: $emotional01;
$tagText03: $emotional04;
$tagText04: $emotional07;
$text01: $neutral01;
$text02: $neutral01;
$text03: $neutral04;
$text04: $secondary16;

@mixin scrollbar01($thumb-color: #6034DB,
  $thumb-hover-color: #6034DB,
  $track-color: #6034DB,
  $width: .25rem,
  $radius: .25rem) {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #{$thumb-color} #{$track-color};

  /* WebKit-based browsers */
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}

/* base */
:root {
  /* R031 */
  /* color */
  --bg-headerbottom: #1a0530;
  --bg-main-bg: #1a0530;
  --bg-side: #1a0530;
  --emotional-03: #3ecc31;
  --emotional-01: #ff3b3b;
  --emotional-02: #ffe2e3;
  --emotional-04: #009d46;
  --emotional-05: #ddf6e8;
  --emotional-06: #00d0ff;
  --emotional-07: #008ae6;
  --emotional-08: #d2edff;
  --emotional-correct-01: #67c23a;
  --emotional-correct-02: #9ace7f;
  --emotional-danger-01: #ff4343;
  --emotional-danger-02: #ff0000;
  --emotional-default-01: #1677ff;
  --emotional-default-02: #79bbff;
  --emotional-warning-01: #e6a23c;
  --emotional-warning-02: #ffe5b9;
  --neutral-01: #ffffff;
  --neutral-02: #ffffff1a;
  --neutral-03: #af9dd5;
  --neutral-04: #ffffffc4;
  --neutral-05: #d2d2d21a;
  --neutral-06: #7b7b7b;
  --neutral-07: #676767;
  --neutral-08: #262626;
  --neutral-09: #ffffff;
  --neutral-10: #ffffff;
  --neutral-100: #1E1335;
  --primany-01: #ce4388;
  --primary-01: #ce4388;
  --primany-02: #ce4388;
  --primary-02: #ce4388;
  --primany-03: #1e1335;
  --primany-04: #9333ea;
  --primany-05: #0fa37d;
  --primany-06: #1fc88f;
  --primany-07: #9333ea00;
  --primany-08: #9333ea80;
  --primany-09: #ffffff;
  --secondary01: #03032366;
  --secondary-01: #03032366;
  --secondary-02: #14144a59;
  --secondary-03: #00000099;
  --secondary-04: #b1a79e;
  --secondary-05: #ffffff;
  --secondary-06: #1a0530;
  --secondary-07: #290a45;
  // --secondary-08: #0b0f19;
  --secondary-08: #1E1335;
  --secondary-09: #9333ea;
  --secondary-10: #180e20;
  --secondary-11: #1a0530;
  --secondary-12: #290a45;
  --secondary-13: #290a45;
  --secondary-14: #1a0530;
  --secondary-15: #4064ff;
  --secondary-16: #78d3f8;
  --text-01: #ffffff;
  --text-link: #ffffff;
  --menu-navbar-shadow-color: #FFFFFF40;
}

/* component */
:root {
  /* set_r031 */
  /* color */
  --bg-01: #8139ff;
  --bg-02: #0004ff;
  --bg-03: #d000ff;
  --bg-04: var(--secondary-12);
  --bg-05: var(--secondary-10);
  --bg-06: var(--secondary-07);
  --bg-07: var(--secondary-11);
  --bg-08: var(--primany-03);
  --bg-09: var(--primany-01);
  --bg-10: var(--primany-01);
  --bg-11: var(--secondary-06);
  --bg-12: var(--neutral-02);
  --bg-13: var(--secondary-10);
  --bg-14: var(--neutral-02);
  --bg-15: var(--secondary-15);
  --bg-16: var(--secondary-16);
  --bg-17: var(--secondary-03);
  --bg-18: var(--secondary-07);
  --bg-19: #9333ea;
  --bg-20: #f7a491;
  --bg-21: #f47458;
  --bg-22: var(--bg-04);
  --bg-23: var(--neutral-01);
  --bg-footer: var(--neutral-100);
  --bg-header: var(--secondary-11);
  --bg-line-01: var(--neutral-02);
  --bg-line-02: var(--neutral-05);
  --bg-line-03: var(--neutral-03);
  --bg-line-04: var(--emotional-03);
  --bg-line-05: var(--emotional-06);
  --bg-navbar: var(--secondary-11);
  --btn-bg-01: var(--primany-01);
  --btn-bg-02: var(--primany-02);
  --btn-bg-03: #ce438800;
  --btn-bg-04: var(--neutral-03);
  --btn-bg-05: var(--neutral-04);
  --btn-bg-06: var(--secondary-11);
  --btn-bg-07: var(--neutral-05);
  --btn-bg-08: var(--secondary-14);
  --btn-border-01: var(--neutral-05);
  --btn-border-02: var(--primany-01);
  --btn-border-03: var(--neutral-01);
  --btn-icon-01: var(--neutral-01);
  --btn-text-01: var(--neutral-01);
  --btn-text-02: var(--neutral-03);
  --btn-text-03: var(--neutral-07);
  --btn-text-04: var(--primany-01);
  --btn-text-05: var(--neutral-01);
  --card-bg-01: var(--neutral-100);
  --card-bg-02: var(--primany-03);
  --card-bg-03: var(--secondary-09);
  --card-bg-04: var(--neutral-08);
  --card-bg-05: var(--primany-07);
  --card-bg-06: var(--primany-08);
  --card-border-01: var(--primany-01);
  --card-text-01: var(--primany-01);
  --card-text-02: var(--neutral-01);
  --card-text-03: var(--neutral-04);
  --dialog-bg: var(--secondary-11);
  --dialog-bg-02: var(--primany-03);
  --dialog-text-01: var(--neutral-01);
  --dialog-text-02: #ffffff;
  --dialog-text-03: #ffffff;
  --icon-01: var(--neutral-01);
  --icon-02: var(--neutral-03);
  --icon-03: var(--neutral-04);
  --icon-04: var(--primany-01);
  --icon-05: var(--emotional-01);
  --icon-06: var(--emotional-03);
  --icon-bg-01: var(--primany-01);
  --icon-bg-02: var(--neutral-01);
  --icon-bg-03: var(--secondary-01);
  --icon-bg-04: var(--secondary-08);
  --icon-bg-05: var(--secondary-09);
  --icon-bg-06: var(--emotional-01);
  --icon-bg-07: var(--secondary-14);
  --icon-bg-08: var(--secondary-07);
  --icon-border-01: var(--neutral-03);
  --icon-navber-01: var(--neutral-01);
  --icon-navber-02: var(--secondary-06);
  --icon-navber-03: var(--primany-01);
  --icon-navber-04: var(--primany-02);
  --input-dropdown-bg-01: var(--secondary-10);
  --input-dropdown-border-01: var(--neutral-05);
  --input-dropdown-border-02: var(--emotional-01);
  --input-dropdown-text-01: var(--neutral-04);
  --input-dropdown-text-02: var(--neutral-01);
  --input-dropdown-text-03: var(--neutral-05);
  --tab-bg-01: var(--primany-01);
  --tab-bg-02: var(--primany-01);
  --tab-bg-03: var(--secondary-10);
  --tab-bg-04: var(--neutral-05);
  --tab-bg-05: var(--primany-03);
  --tab-line-01: var(--secondary-06);
  --tab-text-01: var(--neutral-01);
  --tag-bg-01: var(--neutral-05);
  --tag-bg-02: var(--emotional-02);
  --tag-bg-03: var(--emotional-05);
  --tag-bg-04: var(--emotional-08);
  --tag-text-01: var(--neutral-01);
  --tag-text-02: var(--emotional-01);
  --tag-text-03: var(--emotional-04);
  --tag-text-04: var(--emotional-07);
  --text-01: var(--neutral-01);
  --text-02: var(--neutral-01);
  --text-03: var(--neutral-04);
  --text-04: var(--secondary-16);
  --text-05: var(--emotional-03);
  --text-06: var(--emotional-01);
  --text-07: var(--primany-01);
}