// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$main: #050926;
$sub: #cfa972;


$mainWithOpacity: rgba(50, 188, 201, 0.79);
$webTextColor: #212529;
$errorColor: #fe8a8a;
$courseTabBtnActiveColor: #fca903;
$hoverBlue: #0056b3;
$hoverWhite75: rgba(255, 255, 255, 0.75);
$grayBtnBg: #999999;
$closeBtnColor: #a7a7a7;
$separatorColor: #ccc;
$subTextColor: #666;
$notificationTimeColor: #888888;
$myAccountBgColor: #d9edee;
$myAccountLabelColor: #707070;
$myAccountInputBorderColor: rgb(118, 118, 118);
$paginationColor: #ababab;
$inputGroupUnderLineColor: #b2b2b2;
$vueSelect2BorderColor: #c2c2c2;
$loginSubTitleColor: rgba(0, 0, 0, 0.4);
$bgColor: #f6f6f6;

$loginTypeColor: (
  default: #999999,
  active: $main,
);

$loginNextBtn: (
  default: $white,
  hover: $sub,
);

$loginInputUnderLine: (
  default: $gray-400,
  hover: $main,
  error: $errorColor,
);

$forgetPasswordLink: (
  default: $main,
  hover: $hoverBlue,
);

$indexText: (
  main: $gray-900,
  sub: $subTextColor,
);

$navText: (
  default: $white,
  hover: $hoverWhite75,
);

$myAccountInputBorderColorSet: (
  default: $myAccountInputBorderColor,
  focus: $sub,
);

$pagination: (
  default: $paginationColor,
  hover: $sub,
);

// Spacing
$px: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px 9px, 10px;
$px5x: 5px, 10px, 15px, 20px, 25px;
$px6x: 6px, 12px, 18px, 24px, 30px;
$px8x: 8px, 16px, 24px, 32px, 40px;
$px10x: 10px, 20px, 30px, 40px, 50px, 60px, 70px, 80px, 90px, 100px;

$percent5: 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%,
  75%, 80%, 85%, 90%, 95%, 100%;

$rem1x: 0.1rem, 0.2rem, 0.3rem, 0.4rem, 0.5rem, 0.6rem, 0.7rem, 0.8rem, 0.9rem;
$rem25x: 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;
$rem5x: 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem,
  5.5rem, 6rem, 6.5rem, 7rem, 7.5rem, 8rem;

$num10: 10, 20, 30, 40, 50, 60, 70, 80, 90;
$num100: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$dot1: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9;
$dot5: 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5;

// Login
$login_mask: rgba(255, 255, 255, 0.14);
