.swiper-pagination {
  @apply h-9 flex items-center justify-center;
  position: static !important;

  .swiper-pagination-bullet {
    @apply w-[45px] h-1 rounded-[100px] bgi-[var(--transparent-white-30)];
  }

  .swiper-pagination-bullet-active {
    @apply bgi-[var(--grayscale-100)];
  }

  @media screen and (max-width: 750px) {
    position: absolute !important;
    height: unset;

    .swiper-pagination-bullet {
      @apply w-[33px] h-1;
    }
  }
}
