@import "src/common/css/_variable.sass";
@import "app/template/set_ed3/assets/css/_variable.scss";

.calendar-content {
  ::v-deep(.q-date__header) {
    background: $gradient03;
    color: $green10;
  }

  ::v-deep(.bg-primary) {
    background: $green03 !important;
  }

  ::v-deep(.q-date__today) {
    box-shadow: 0 0 0 .0625rem $pink-shadow-color;
  }
}

.collaboration {
  .collaboration-header {
    @apply w-full bg-black/70;
    @apply aspect-[1570/354] bg-cover bg-center;
  }

  .collaboration-content {
    @apply w-[62.5rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white/70;
    border-radius: 0.75rem;

    @include phone-width() {
      @apply w-full mt-0 max-w-[100%];
      @apply p-[28px];
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center mt-8;
      @apply font-bold text-[1.5rem];
      color: #fff;
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include phone-width() {
        @apply flex-row items-start mt-[3rem];
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold text-white;
      }

      :deep(.q-btn-dropdown) {
        @apply text-black shadow-none;
        border-radius: 2rem;
        border: 1px solid #8A8A8A;
        background: #fff;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include phone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include phone-width() {
          @apply w-full;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background: #009770;


          @include phone-width() {
            @apply px-6;
            background: #009770;

          }

          .summary-title {
            @apply font-bold;
            color: #FFFFFFB2;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-white;
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        background: #009770;
        border-radius: 0.5rem;

        @include phone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply text-white font-semibold text-[1.25rem];
        }

        .referral-code-value {
          @apply mt-[1.25rem] text-black;
          background-color: #fff;
          border: 1px solid #8A8A8A;
          border-radius: 0.3rem;

          @include phone-width() {
            @apply mt-[4px];
          }

          :deep(.q-field__inner) {
            @apply px-4;
            background-color: #fff;
            border-radius: 0.3rem;
            color: #000;
          }

          :deep(.q-field__native) {
            @apply text-black;
            background-color: #fff;
            font-weight: 600;
          }

          :deep(.q-field__append) {
            color: #0B5544;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          font-weight: 700;
          min-height: 0;
          padding: 0.5rem 2rem;
          border-radius: 0.5rem;
          background: #083E31;
          color: #fff;


          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          background: linear-gradient(to left, #1fc88f 0%, #f4ee70 100%);
          color: #0b5544;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      color: #fff;
      border-radius: .625rem;
      background: #073E31;

      @include phone-width() {
        background: #073E31;
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid;
        color: #000;
        border-color: #666 !important;
        border-radius: 2rem;

        :deep(.q-icon) {
          color: #666 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-white;
    border-radius: 0.625rem;

    @include phone-width() {
      @apply bg-white;
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem] text-white;
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include phone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem] text-white;
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: #fff;
      border-radius: 0.3rem;
      border: 1px solid #8A8A8A;
      color: #1c1e2233;

      .q-field__native {
        @apply text-black;
      }
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include phone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include phone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include phone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          border: 1px solid #8A8A8A;
          background: #fff;

          &::before {
            display: none;
          }
        }
      }
    }

    .gametype-action {
      @include phone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include phone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal text-white;
        }

        :deep(.q-btn-dropdown) {
          @apply text-white shadow-none;
          border-radius: 2rem;
          border: 1px solid #8A8A8A;
          background: #131313;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include phone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include phone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal text-white;
        }

        .date-select-input {
          @apply bg-white text-black;
          border: 1px solid #8A8A8A;
          border-radius: 2rem;
          :deep(.q-field__native) {
            @apply text-black;
          }
          :deep(.q-field__append) {
            @apply text-black;
          }
          :deep(.q-field__control) {
            border-radius: 2rem;
          }
        }

        :deep(.q-btn-dropdown) {
          @apply text-black shadow-none;
          border-radius: 2rem;
          border: 1px solid #8A8A8A;
          background: #fff;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply leading-none;
      background: linear-gradient(to left, #1fc88f 0%, #f4ee70 100%);
      padding: 0.7rem 2rem;
      border-radius: 0.5rem;
      min-height: 0;
      color: #0b5544;

      @include phone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12 text-white;
      border-radius: 1rem;
      background: #073E31;
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: rgba(0, 0, 0, 0.7);

      :deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b;
        border-color: rgba(255, 255, 255, 0.4);
        color: #F2F2F2;

      }

      :deep(tr) {
        @apply border-b;

        &:hover {
          // background: #E6EFFD;
          // color: #666;
        }
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: rgba(255, 255, 255, 0.4);
        color: #F2F2F2;

      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: rgba(255, 255, 255, 0.5);
      }

      :deep(.q-btn--standard) {
        background-color: transparent !important;
        color: #D1B17C !important;

        &::before {
          display: none;
        }
      }
    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-0;
        border-radius: 0.5rem;
        border: 1px solid rgba(146, 146, 146, 0.7);
        background: #086A51;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-[#FFFFFF1A] pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-white;
          @apply w-full mt-2;
          background: #666;
          border-radius: 2rem;
        }

        .card_detail {
          background: #0B5544;
        }
      }
    }
  }
}

:deep(.q-menu) {
  .q-list {
    background: #0C1A43;
    color: #fff;
  }
}

.achieved {
  background: #DDF6E8;
  color: #009D46;
  padding: 12px;
  border-radius: 0.5rem;
}

.not_achieved {
  background: #FFE2E3;
  color: #FF474C;
  padding: 12px;
  border-radius: 0.5rem;
}

.rule-dialog {
  background: #0B5544;
  border-radius: 1rem;
  color: #fff;
  .title-section {
    background-color: #086A51;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #0B5544; /* or add it to the track */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #086A51;
    border-radius: 1rem;
  }
}
