// =============================================================================
// 1. Base CSS Variables (基礎色板)
// =============================================================================

:root {
  --bg-headerbottom: #ffffff;
  --bg-main-bg: #ffffff;
  --bg-side: #ffffff;
  --emotional-002: #3ecc31;
  --emotional-01: #ff3b3b;
  --emotional-02: #ffe2e3;
  --emotional-04: #009d46;
  --emotional-05: #ddf6e8;
  --emotional-06: #00d0ff;
  --emotional-07: #008ae6;
  --emotional-08: #d2edff;
  --emotional-correct-01: #ffffff;
  --emotional-correct-02: #ffffff;
  --emotional-danger-01: #ffffff;
  --emotional-danger-02: #ffffff;
  --emotional-default-01: #ffffff;
  --emotional-default-02: #ffffff;
  --emotional-warning-01: #ffffff;
  --emotional-warning-02: #ffffff;
  --neutral-01: #ffffff;
  --neutral-02: #efefef;
  --neutral-03: #dddedf;
  --neutral-04: #bcbcbc;
  --neutral-05: #9fa0a1;
  --neutral-06: #7b7b7b;
  --neutral-07: #676767;
  --neutral-08: #262626;
  --neutral-09: #ffffff;
  --neutral-10: #ffffff;
  --neutral-100: #000000;
  --primary-01: #e6effd;
  --primary-02: #5c8cf0;
  --primary-03: #0295e8;
  --primary-04: #025be8;
  --primary-05: #bad5ff;
  --primary-06: #90bbff;
  --primary-07: #ffffff;
  --primary-08: #ffffff;
  --primary-09: #ffffff;
  --secondary-01: #fbfcfd;
  --secondary-02: #f5f5f7;
  --secondary-03: #e8ecf8;
  --secondary-04: #7696b1;
  --secondary-05: #a7b2c4;
  --secondary-06: #7983a2;
  --secondary-07: #4b5678;
  --secondary-08: #00000099;
  --secondary-09: #d2d2d23d;
  --secondary-10: #e6effd;
  --secondary-11: #e6effd;
  --secondary-12: #f5f5f7;
  --secondary-13: #ffffff;
  --secondary-14: #ffffff;
  --secondary-15: #ffffff;
  --secondary-16: #ffffff;
  --text-01: #ffffff;
  --text-link: #ffffff;
  --ticker-01: #5c8cf0;
  --ticker-02: #0295e8;
  --ticker-03: #025be8;
}

// =============================================================================
// 2. Component CSS Variables (元件變數)
// =============================================================================
:root {
  --bg-01: #f5f5f7;
  --bg-02: #f5f5f7;
  --bg-03: #f5f5f7;
  --bg-04: var(--secondary-12);
  --bg-05: var(--secondary-10);
  --bg-06: var(--secondary-13);
  --bg-07: var(--secondary-14);
  --bg-08: var(--secondary-01);
  --bg-09: var(--primary-01);
  --bg-10: var(--primary-02);
  --bg-11: var(--secondary-01);
  --bg-12: var(--neutral-05);
  --bg-13: var(--secondary-10);
  --bg-14: var(--neutral-02);
  --bg-15: var(--secondary-15);
  --bg-16: var(--secondary-16);
  --bg-17: var(--secondary-08);
  --bg-18: var(--secondary-07);
  --bg-19: #4c38c0;
  --bg-20: #f7a491;
  --bg-21: #f47458;
  --bg-22: #ffffff;
  --bg-23: var(--secondary-11);
  --bg-footer: var(--neutral-100);
  --bg-header: var(--secondary-12);
  --bg-line-01: var(--neutral-02);
  --bg-line-02: var(--secondary-09);
  --bg-line-03: var(--neutral-03);
  --bg-line-04: var(--emotional-002);
  --bg-line-05: var(--emotional-06);
  --bg-navbar: var(--secondary-11);
  --btn-bg-01: var(--primary-04);
  --btn-bg-02: var(--primary-04);
  --btn-bg-03: #f2631900;
  --btn-bg-04: var(--neutral-03);
  --btn-bg-05: var(--neutral-04);
  --btn-bg-06: var(--secondary-11);
  --btn-bg-07: var(--neutral-05);
  --btn-bg-08: var(--secondary-14);
  --btn-border-01: var(--neutral-04);
  --btn-border-02: var(--primary-04);
  --btn-border-03: var(--neutral-01);
  --btn-icon-01: var(--neutral-01);
  --btn-text-01: var(--neutral-08);
  --btn-text-02: var(--neutral-07);
  --btn-text-03: var(--neutral-07);
  --btn-text-04: var(--primary-04);
  --btn-text-05: var(--neutral-01);
  --card-bg-01: var(--neutral-01);
  --card-bg-02: var(--secondary-07);
  --card-bg-03: var(--primary-05);
  --card-bg-04: var(--neutral-03);
  --card-border-01: var(--primary-04);
  --card-text-01: var(--primary-01);
  --card-text-02: var(--neutral-05);
  --card-text-03: var(--neutral-06);
  --dialog-bg: var(--primary-04);
  --dialog-bg-02: var(--neutral-01);
  --dialog-text-01: var(--neutral-01);
  --dialog-text-02: var(--primary-04);
  --dialog-text-03: var(--neutral-08);
  --icon-01: var(--neutral-04);
  --icon-02: var(--neutral-05);
  --icon-03: var(--neutral-06);
  --icon-04: var(--primary-02);
  --icon-05: var(--emotional-01);
  --icon-06: var(--emotional-002);
  --icon-bg-01: var(--primary-01);
  --icon-bg-02: var(--neutral-01);
  --icon-bg-03: var(--secondary-01);
  --icon-bg-04: var(--secondary-08);
  --icon-bg-05: var(--secondary-09);
  --icon-bg-06: var(--emotional-01);
  --icon-bg-07: var(--secondary-14);
  --icon-bg-08: var(--secondary-07);
  --icon-border-01: var(--neutral-03);
  --icon-navber-01: var(--neutral-01);
  --icon-navber-02: var(--secondary-06);
  --icon-navber-03: var(--primary-01);
  --icon-navber-04: var(--primary-02);
  --input-dropdown-bg-01: var(--neutral-01);
  --input-dropdown-border-01: var(--neutral-05);
  --input-dropdown-border-02: var(--emotional-01);
  --input-dropdown-text-01: var(--neutral-04);
  --input-dropdown-text-02: var(--neutral-07);
  --input-dropdown-text-03: var(--neutral-05);
  --tab-bg-01: var(--primary-06);
  --tab-bg-02: var(--primary-05);
  --tab-bg-03: var(--secondary-02);
  --tab-bg-04: var(--secondary-11);
  --tab-bg-05: var(--secondary-11);
  --tab-line-01: var(--neutral-05);
  --tab-text-01: var(--neutral-07);
  --tag-bg-01: var(--neutral-05);
  --tag-bg-02: var(--emotional-02);
  --tag-bg-03: var(--emotional-05);
  --tag-bg-04: var(--emotional-08);
  --tag-text-01: var(--neutral-01);
  --tag-text-02: var(--emotional-01);
  --tag-text-03: var(--emotional-04);
  --tag-text-04: var(--emotional-07);
  --text-01: var(--neutral-07);
  --text-02: var(--neutral-100);
  --text-03: var(--neutral-06);
  --text-04: var(--secondary-16);
  --text-05: var(--emotional-002);
  --text-06: var(--emotional-01);
  --text-07: var(--primary-01);
}
