:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --primary01: #025BE8;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --edit-border01: #CACACA;
  --btn01: #FFFFFF;
  --btn02: #FFFFFF;
  --neutral01: #000000;
  --neutral02: #4E4E4E;
  --neutral04: #EEEEEE;
  --secondary01: #FFFFFF;
  --secondary02: #FFFFFF;
  --secondary06: #FFFFFF;
  --separator01: #E5EBF2;
  --bettingDisk01: #FFFFFF;
}

[data-theme="set_r017"] {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --edit-border01: #d2d2d23d;
  --btn01: #FFFFFF;
  --btn02: #1d125d;
  --primary01: #f26319;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --neutral01: #FFFFFF;
  --neutral02: #ffffffc4;
  --neutral04: #d2d2d23d;
  --secondary01: #1d125d;
  --secondary02: #0c0c1c;
  --secondary06: #070609;
  --separator01: #d2d2d23d;
  --bettingDisk01: #070609;
}

[data-theme="set_r030"] {
  --white-color: #ffffff;
  --black-color: #000000;
  --gold-color: #d6b595;
  --card-betting-item-color: #eee;
  --cancel-btn-bg: #eb1111;
  --tips-text: #00d0ff;
  --apply-btn-bg: #2d2941;
  --toggle-active-btn-bg: #22c55e;
  --toggle-inactive-btn-bg: #3f3b52;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  --edit-border01: rgba(255, 255, 255, 0.12);
  --btn01: #ffffff;
  --btn02: #2d2941;
  --primary01: #22c55e;
  --bg-color-01: #1c192e;
  --bg-color-02: #2d2941;
  --border-color-01: rgba(255, 255, 255, 0.12);
  --neutral01: #ffffff;
  --neutral02: rgba(255, 255, 255, 0.77);
  --neutral04: rgba(255, 255, 255, 0.1);
  --secondary01: #2d2941;
  --secondary02: #1c192e;
  --secondary06: #0b0f19;
  --separator01: rgba(255, 255, 255, 0.1);
  --bettingDisk01: #1c192e;
}

[data-theme="set_r027"] {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --edit-border01: #d2d2d23d;
  --btn01: #FFFFFF;
  --btn02: #1d125d;
  --primary01: #f26319;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --neutral01: #FFFFFF;
  --neutral02: #ffffffc4;
  --neutral04: #d2d2d23d;
  --secondary01: #1d125d;
  --secondary02: #0c0c1c;
  --secondary06: #070609;
  --separator01: #d2d2d23d;
  --bettingDisk01: #070609;
}

[data-theme="set_r031"] {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --edit-border01: #d2d2d21a;
  --btn01: #FFFFFF;
  --btn02: #1a0530;
  --primary01: #ce4388;
  --bg-color-01: #1e1335;
  --bg-color-02: #290a45;
  --border-color-01: #d2d2d21a;
  --neutral01: #FFFFFF;
  --neutral02: #ffffffbf;
  --neutral04: #D2D2D23D;
  --secondary01: #290a45;
  --secondary02: #0C0C1C;
  --secondary06: #1a0530;
  --separator01: #d2d2d21a;
  --bettingDisk01: #1a0530;
}

[data-theme="set_r024"] {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --edit-border01: #d2d2d23d;
  --btn01: #FFFFFF;
  --btn02: #04275f;
  --primary01: #e38901;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --neutral01: #FFFFFF;
  --neutral02: #ffffffc4;
  --neutral04: #ffffff47;
  --secondary01: #1d125d;
  --secondary02: #04275f;
  --secondary06: #070609;
  --separator01: #ffffff47;
  --bettingDisk01: #070609;
}
