
/*carousel*/
.react-multi-carousel-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-multi-carousel-dot--active button, .react-multi-carousel-dot button {
  width: 20px;
  height: 3px;
  border-radius: 8px;
}

.react-multi-carousel-dot--active button {
  background: rgba(255, 255, 255, 1);
  border-width: 0px;
}


.isdesktop {
  .react-multi-carousel-list.carousel-container {
    padding-bottom: 30px;
  }
  .react-multi-carousel-dot-list.custom-dot-list-style {
    height: 30px;
    //position: absolute;
  }
  .react-multi-carousel-dot-list.custom-dot-list-style {
    height: 30px;
    //position: absolute;
    /*left: -74px;*/
    //bottom: -9px;
  }
  .react-multi-carousel-dot, .react-multi-carousel-dot-list  {
    // background-color: var(--background-primary);
  }
}

.ismobile {
  .react-multi-carousel-list.carousel-container {
    //padding-bottom: 30px;
    background: transparent;
  }
  .react-multi-carousel-dot-list.custom-dot-list-style {
    height: 30px;
    position: absolute;
    /*left: -74px;*/
    bottom: -9px;
  }
}

.react-multi-carousel-list.carousel-container, .react-multi-carousel-dot--active {
  /*background: var(--primary-variant);*/
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left  {
  left: 2px !important;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 2px !important;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(255,255,255,0.2);
}

/*NOTE: 解決最下腳留白的縫隙*/
.react-multi-carousel-track {
  margin-bottom: -6px;
}

.image-item {
  padding-right: 20px;
}

.image-item-16 {
  padding-right: 16px;
}

.react-multi-carousel-dot-list.u7-dot-list-style {
    padding-bottom: 12px;
   .react-multi-carousel-dot button {
    border-radius: 8px;
    background: var(--transparent-white-30);
    border: none;
    width: 8px;
    height: 8px;
  }
  .react-multi-carousel-dot--active button {
    background: var(--grayscale-100);
  }
}