.footer {
  display: flex;
  justify-content: space-between;
  height: 77px;
  background: #fff;
  .left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}