.topBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
  p {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    flex-basis: 100%;
    margin-bottom: 16px;
  }
  div {
    display: flex;
  }
}