
@keyframes customSlideDown {
  from {
    transform: translateY(-82px); /* 初始位置 */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes customFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes customSlideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-82px); /* 消失位置 */
    opacity: 0;
  }
}


.animate__customDown {
  animation: customFadeIn 0.2s ease-out;
}

.animate__customUp {
  animation: customSlideUp 0.5s ease-in;
}

//.full_toast .adm-toast-main{
//  width: 100% !important;
//  //top: 230px !important;
//  max-width: 750px !important;
//  background-color: var(--transparent-gray-80);
//  //animation: fadeOutDown 0.3s ease-out, fadeOutUp 0.3s ease-in 2s forwards !important;
//
//  @apply text-sm py-1 px-4 font-medium rounded-none text-center
//
//
//}

.full_toast{
  width: 100% !important;
  //top: 230px !important;
  max-width: 750px !important;
  color: #FFFFFF;
  background-color: var(--transparent-gray-80);
  @apply text-sm py-1 px-4 font-medium rounded-none text-center
}
