.kart-btn {
  border-radius: 50px;
  padding: nth($px8x, 1);
  user-select: none;
  border: none;
  box-shadow: none;
  background: none;
  color: $white;
  text-align: center;
  line-height: nth($dot5, 3);
  font-size: nth($px8x, 2);
  width: 185px;
}

.kart-rect-btn {
  padding: nth($px8x, 1);
  user-select: none;
  border: none;
  box-shadow: none;
  background: none;
  color: $white;
  text-align: center;
  line-height: nth($dot5, 3);
}

.kart-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  height: 30px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
}

.kart-btn-outline {
  background-color: transparent;
  color: #ffffff;
  transition: all 0.5s;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
    transition: all 0.5s;
    transform: translate(-100%, -600%) rotate(30deg);
    background-color: rgba(255, 255, 255, 0.5);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    opacity: 0;
  }

  &:hover::before,
  &:focus::before {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.kart-btn-outline_hover,
.kart-btn-outline:hover,
.kart-btn-outline:focus {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #ffffff;
}

.kart-main {
  @include bg-color($main);

  &:hover,
  &:focus,
  &:active {
    color: $sub;
  }
}

.kart-sub {
  @include bg-color($sub);

  &:hover,
  &:focus,
  &:active {
    color: $main;
  }
}

.kart-gray {
  @include bg-color($grayBtnBg);

  &:hover,
  &:focus,
  &:active {
    color: $main;
  }
}

.kart-bg-gray {
  @include bg-color($grayBtnBg);

  &:hover,
  &:focus,
  &:active {
    @include bg-color($sub);
  }
}

.trans-btn {
  user-select: none;
  border: none;
  box-shadow: none;
  background: none;
  color: $black;
}

.btn-group {
  @include w100;
  @include flex-align-items-center;
}

.half_btn {
  width: calc(50% -8px);
}

.half-left-btn {
  margin-right: 16px;
}

// RWD Start =============================

@include rwd('mobile') {
  .kart-btn {
    font-size: 14px;
  }
}
