.list-unstyled {
  @include list-unstyled;
}

.img-fluid {
  @include img-fluid;
}

.d-flex-wrap {
  @include d-flex-wrap;
}

.flex-center {
  @include flex-center;
}

.flex-center-right {
  @include flex-center-right;
}

.flex-center-left {
  @include flex-center-left;
}

.flex-justify-content-center {
  @include flex-justify-content-center;
}

.flex-align-items-center {
  @include flex-align-items-center;
}

.right-arrow {
  @include right-arrow(true, 27px, 28px, 10px, 10px, 1.5px, $main);

  &::after {
    @include right-arrow(false, 27px, 28px, 10px, 10px, 1.5px, $main);
  }
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-1_5 {
  line-height: 1.5 !important;
}

.line-height-2 {
  line-height: 2 !important;
}

.hide-768 {
  display: block !important;
}

.show-768 {
  display: none !important;
}

// RWD Start =============================
@include rwd('pad') {
  .hide-768 {
    display: none !important;
  }

  .show-768 {
    display: block !important;
  }
}
