:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;;

  --tab-primary-from: #0D2054;
  --tab-primary-to: #2931A9;
}
