.drag-container {
  opacity: 1 !important;

  .drag-icon {
    font-size: 30px;
    cursor: pointer !important;
  }

  th,
  td {
    text-align: center;
  }
}

::v-deep([disabled]) * {
  cursor: default !important;

  .q-btn {
    cursor: pointer !important;

    .q-focus-helper,
    .q-btn__content {
      cursor: pointer !important;
    }
  }

  .q-toggle {
    cursor: pointer !important;

    .q-toggle__inner,
    .q-toggle__track,
    .q-toggle__thumb {
      cursor: pointer !important;
    }
  }
}