.globalSubPageWrapper {

  .breadcrumbWrapper {
    font-size: 0.875rem !important;
  }
}


.addWrapper_form {

  /*輸入框相關*/
  ::v-deep(.q-field--outlined .q-field__control) {
    // border-radius: 7px;
    height: 36px;
  }

  ::v-deep(.q-field--outlined .q-field__control:before) {
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
    transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }

  ::v-deep(.q-field--outlined .q-field__control:hover:before) {
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: unset;
  }

  ::v-deep(.q-field--disabled .q-field__control) {
    background-color: rgba(194, 194, 202, 0.3);
  }

  /*下拉*/
  ::v-deep(.q-field--auto-height .q-field__native) {
    min-height: auto;
  }

  ::v-deep(.q-field--auto-height .q-field__control) {
    min-height: auto;
  }

  ::v-deep(.q-field__marginal) {
    height: auto;
  }

}

.addWrapper {
  padding-top: 0px;

  .q-card__section--vert {
    padding-top: 0px;
    padding-left: .5625rem;
    padding-right: .5625rem;
  }

  .add_card {
    width: 100%;
    max-width: 63.75rem;
    margin: 0 auto;
    padding-top: 20px;

  }

  ::v-deep(.q-stepper) {
    border: 0px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    background: white !important;
    border-top: none;
    border-radius: 0 0 .625rem 0.625rem;
  }
}

.sub-btns {
  padding-left: .3125rem;
  margin-top: .5rem;

  margin-bottom: .5rem;

  ::v-deep(.q-focus-helper) {
    display: none;
    background: transparent !important;
    opacity: 1 !important;
  }

  ::v-deep(.q-ripple) {
    display: none;
    background: transparent !important;
    opacity: 1 !important;
  }
}
