.container {
  overflow: auto;
  height: 100%;
  margin-bottom: 16px;
  .content {
    flex: 2;
    overflow: auto;
    margin-bottom: 20px;
  }
  .footer {
    height: 72px;
    background: #FFF
  }
}
.formContent {
  // width: 80%;
  margin: auto;
  padding: 20px;
  & > div:not(:first-child) {
    margin-top: 20px;
  }
}

.tabContainer {
  display: flex;
  align-items: center;
  background: #FAF9F8;
  overflow: auto;
  .tabAdd {
    flex: 2;
    height: 100%;
    padding-left: 10px;
  }
}