// 共用設定 ===================================================================

.root {
  position: relative;
  @include bg-color($bgColor);
  padding-bottom: nth($rem5x, 10);
}

.sec {
  @include w100;
  display: block;
}

.margin-outer {
  margin-left: -15px;
  margin-right: -15px;
}

.main-10 {
  display: block;
  width: calc(100% / 12 * 10);
  padding: 0 nth($px5x, 3);
  padding-top: nth($rem5x, 6);
  margin: 0 auto;
}

.main-11 {
  display: block;
  width: calc(100% / 12 * 11);
  padding: 0 nth($px5x, 3);
  padding-top: nth($rem5x, 6);
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex-line {
  @include w100;
  @include flex-center;
}

.page_title {
  @include w100;
  @include flex-center;
  padding: nth($rem5x, 2);
  font-size: nth($rem5x, 7);
  line-height: nth($dot5, 3);
  text-align: center;
  color: $main;
}

.page-category-container {
  @include w100;

  &.center {
    @include flex-center;
  }
}

.page-category-btn {
  width: 285px;
  padding: nth($px5x, 2) nth($px10x, 5);
  color: $white;
  position: relative;
  margin-right: nth($px10x, 4);
  border-radius: nth($px5x, 1);
  font-size: nth($px8x, 2);

  &:last-child {
    margin-right: 0;
  }
}

.active.page-category-btn {
  @include bg-color($sub);
}

.seperator {
  @include w100;
  @include bg-color($black);
  height: 1px;
}

.warn-text {
  color: $warnColor;
}

.break-warp {
  @include w100;
  display: block;
}

.main-section {
  width: nth($percent5, 20);
  margin-top: nth($rem5x, 4);
}

// Card
.card-container {
  @include d-flex-wrap;
  margin: 0 -15px;
}

.card {
  margin-bottom: nth($rem5x, 3);
  padding-right: nth($px5x, 3);
  padding-left: nth($px5x, 3);
  cursor: pointer;
}

.card-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.card-content {
  @include w100;
  @include position-relative;
  display: block;
}

.card-padding {
  padding: nth($rem25x, 4);
}

.card-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.card-header {
  @include w100;
  display: block;
}

.card-header-text {
  display: block;
  margin-bottom: nth($rem5x, 1);
  color: $main;
}

.card-img {
  @include w100;
  display: block;
  border-radius: 0;
  padding-bottom: 56%;
  background-size: cover;
  background-position: center;
}

.card-foot {
  padding: nth($rem5x, 1) 0;
  min-height: 1px;
}

.card-foot-title {
  margin: 0 0 nth($rem25x, 8);
  color: $sub;
  font-weight: nth($num100, 5);
  line-height: 1.2;
  font-size: nth($rem25x, 5);
}

.card-foot-text {
  @include notification-text;
  color: $gray-600;
  font-size: nth($rem25x, 4);
}

.block-line {
  @include w100;
  display: inline-block;
}

// Arrange 排列方式
.arrange-box1 {
  @include w100;
  @include flex-align-items-center;
  @include position-relative;

  .arrange-lead1 {
    display: block;
    width: 150px;
  }

  .arrange-content1 {
    display: block;
    width: calc(100% - 150px);
  }
}

.arrange-box2 {
  @include w100;
  @include flex-align-items-center;
  @include position-relative;

  .arrange-lead2 {
    display: block;
    width: 80px;
  }

  .arrange-content2 {
    display: block;
    width: calc(100% - 80px);
  }
}

// Input controls
.gender-content {
  @include flex-align-items-center;
}

.gender-control {
  @include position-relative;
  @include flex-align-items-center;
  margin-right: nth($rem25x, 3);

  .gender-input {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: block;
    padding: 0;
    margin: 0;
  }

  .gender-label {
    font-size: nth($rem5x, 2);
    color: $main;
    display: block;
    margin-left: nth($rem5x, 1);
  }
}

// Input
.kart-input-control {
  @include w100;
  @include flex-align-items-center;
}

.kart-input {
  @include w100;
  border-radius: nth($px, 8);
  border: 1px solid $sub;
  padding: nth($px, 6) nth($px, 8);
  color: $main;

  &.error {
    border-color: $errorColor;
  }
}

.disabled-input {
  @include position-relative;

  &::before {
    @include wh100;
    @include bg-color(transparent);
    @include position-absolute-full(2);
    content: '';
    display: block;
  }
}

// RWD Start =============================
@include rwd('large') {
  .card-3 {
    flex: 0 0 nth($percent5, 10);
    max-width: nth($percent5, 10);
  }

  .card-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@include rwd('medium') {
  .page_title {
    font-size: nth($rem5x, 5);
  }

  .arrange-box1 {
    @include flex-direction('|');

    .arrange-lead1 {
      @include w100;
    }

    .arrange-content1 {
      @include w100;
    }
  }

  .arrange-box2 {
    .arrange-lead2 {
      width: 60px;
    }

    .arrange-content2 {
      width: auto;
    }
  }

  .en {
    .arrange-box2 {
      .arrange-lead2 {
        width: 110px;
      }

      .arrange-content2 {
        width: auto;
      }
    }
  }
}

@include rwd('pad') {
  .page_title {
    font-size: nth($rem5x, 4);
  }

  .card-container {
    margin: 0;
  }

  .card-3 {
    flex: 0 0 nth($percent5, 20);
    max-width: nth($percent5, 20);
  }

  .card-4 {
    flex: 0 0 nth($percent5, 10);
    max-width: nth($percent5, 10);
  }
}

@include rwd('mobile') {
  .page-category-btn {
    width: calc(50% - 8px);
    font-size: 14px;
    margin-right: nth($px8x, 2);
    padding: nth($px10x, 1) nth($px5x, 3);
  }

  .gender-control {
    @include position-relative;
    @include flex-align-items-center;
    margin-right: nth($rem25x, 2);
  }

  .card-4 {
    flex: 0 0 nth($percent5, 20);
    max-width: nth($percent5, 20);
  }
}
