.root.footer_body {
  @include w100;
  background-color: $main;
  padding-bottom: 0;
}

.footer_body_container {
  @include flex-center;
  padding-top: nth($rem5x, 6);
  padding-bottom: nth($rem5x, 6);
}

.logo_section {
  margin-right: auto;
}

.footer_logo {
  @include flex-align-items-center;
}

.footer_logo_img {
  display: block;
  width: 87px;
  margin-right: nth($rem5x, 2);
}

.footer_logo_text_container {
  color: $white;
  font-size: 25px;
  font-weight: bold;
}

.footer_logo_title {
  text-align: left;
}

.detail_section {
  width: 350px;
  padding: 0 15px;
  margin-right: auto;
}

.detail_set {
  @include w100;
  @include flex-center;
  margin-bottom: nth($px5x, 4);

  &:last-child {
    margin-bottom: 0;
  }

  .set_left {
    @include flex-align-items-center;
    margin-right: auto;

    .left_icon {
      width: nth($px5x, 5);
      display: block;
      margin-right: nth($rem25x, 3);
    }

    .left_text {
      width: calc(100% - 25px);
      @include footer-text-block;
    }
  }

  .detail_text {
    text-decoration: none;
    @include footer-text-block;
  }
}

.qr_box {
  @include flex-align-items-center;
  @include flex-direction('|');
  width: 135px;
  margin-right: auto;

  .qr_img {
    @include max-WH(135px, 135px);
  }

  .qr_description {
    @include footer-text-block;
    display: block;
    font-size: 14px;
  }
}

.app_box {
  width: 16vw;

  .app_download {
    display: block;
    margin-bottom: nth($rem5x, 2);

    &.download_googleplay_app {
      margin-bottom: 0;
    }

    .app_img {
      @include w100;
    }
  }
}

.en {
  .footer_logo {
    max-width: 260px;
  }

  .detail_set {
    @include w100;
    justify-content: flex-start;

    .set_left {
      width: 165px;
      margin-right: nth($px5x, 3);

      .left_text {
        font-size: nth($px6x, 2);
      }
    }

    .detail_text {
      font-size: nth($rem5x, 2);
    }
  }

  .qr_app_section .qr_box .qr_description {
    font-size: nth($px6x, 2);
  }
}

// RWD Start =============================
@include rwd('large') {
  .en .footer_logo {
    @include clear-min-max('max-W');
  }

  .footer_body_container {
    flex-wrap: wrap;
  }

  .logo_section {
    @include w100;

    .footer_logo {
      @include flex-center;
      margin: 0 auto;
    }
  }

  .detail_section {
    @include w100;
    margin: nth($rem5x, 3);

    .detail_set {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .qr_box {
    margin-right: nth($rem5x, 4);
  }

  .app_box {
    width: 200px;

    .app_download {
      margin-bottom: nth($rem5x, 2);
    }
  }
}

@include rwd('mobile') {
  .footer_logo_img {
    width: 70px;
  }

  .footer_logo_text_container {
    font-size: nth($rem25x, 5);
  }

  .detail_section {
    margin: nth($rem5x, 2) 0;

    .detail_set {
      margin-bottom: 10px;
    }
  }

  .detail_set .set_left .left_text,
  .detail_set .detail_text {
    font-size: 14px;
  }

  .qr_box {
    margin-right: nth($rem5x, 2);
    margin-bottom: nth($rem5x, 2);
  }

  .app_box {
    margin-bottom: nth($rem5x, 2);
  }

  .en {
    .detail_set {
      @include w100;
      justify-content: flex-start;

      .set_left {
        width: 165px;
        margin-right: nth($px5x, 3);
      }

      .set_right {
        width: calc(100% - 165px);
      }
    }

    .qr_app_section .qr_box .qr_description {
      text-align: center;
    }
  }
}

@include rwd('iphone6') {
  .qr_box {
    margin-right: 0;
  }

  .app_box {
    margin-bottom: 0;
  }

  .en .detail_set {
    @include w100;

    .set_left {
      width: 140px;
    }

    .set_right {
      width: calc(100% - 140px);
    }
  }
}
