.myaccount_root {
  @include min-H(65vh);
}

.myaccount_title_box {
  @include bg-color(rgba(207, 169, 114, 0.4));
  @include flex-center-left;
  @include w100;

  padding: nth($rem5x, 2);
  margin-bottom: nth($rem5x, 4);

  .myaccount_title {
    font-size: nth($rem5x, 3);
    margin: 0 nth($rem5x, 4);
  }
}

.myaccount_settings {
  @include w100;
  @include position-relative;
}

.myaccount_tab_line {
  @include w100;
}

.myaccount_tab {
  @include bg-color(transparent);
  @include position-relative;
  z-index: 1;
  border-bottom: nth($px, 4) solid $black;
  padding: 0 0 nth($rem5x, 1) 0;
  margin: 0 0 -2px 0;
  font-size: nth($rem25x, 5);
}

.myaccount_box_unit {
  @include w100;
  @include position-relative;
  @include flex-align-items-start;

  z-index: 0;
  border-top: nth($px, 2) solid $courseRecordListTitleBgColor;
  padding-top: nth($px10x, 3);
  padding-bottom: nth($px10x, 3);
}

.myaccount_box_title {
  font-size: nth($rem25x, 6);
  color: $gray-600;
}

.remiaing_lessions .myaccount_box_content {
  @include flex-align-items-center;
}

.myaacount_remaining_unit {
  width: 100px;
  height: 160px;
  text-align: center;
  margin-right: 8vw;

  &:last-child {
    margin-right: 0;
  }
}

.myaccount_remaining_title {
  @include w100;

  display: block;
  color: $gray-600;
  font-size: nth($rem25x, 4);
}

.myaccount_remaining_content {
  @include w100;
  @include flex-align-items-center;
  height: calc(100% - 24px);
  justify-content: center;
}

.myaccount_remaining_point {
  display: block;
  font-size: nth($rem5x, 10);
  color: $main;
}

.myaccount_remaining_unit {
  display: block;
  font-size: nth($rem5x, 2);
  color: $main;
  margin-top: nth($px10x, 4);
}

.myaccount_remaining_expired_date {
  font-size: nth($rem25x, 7);
  color: $main;
}

.myaccount_link_to_pages {
  @include position-absolute-right-top-0(2);
  top: 50%;
  transform: translateY(-50%);
}

.myaccount_link {
  display: block;
  color: $sub;
  padding: 0;
}

.remiaing_lessions .myaccount_link {
  margin-bottom: nth($rem25x, 3);
}

.profile_group {
  margin-bottom: nth($px10x, 2);
}

.profile_lead {
  font-size: nth($rem25x, 5);
  color: $gray-600;
  font-weight: normal;
}

.gender_content {
  @include flex-align-items-center;
}

.gender_control {
  margin-right: nth($rem25x, 3);
}

.profile_content,
.gender_radio_label {
  font-size: nth($rem25x, 5);
  color: $main;
}

.myaccount_link_to_modify {
  @include wh100;
  @include position-absolute-full(4);
}

.edit_profile_link {
  @include position-absolute-right-top(0, 38px, 5);
}

.change_password_link {
  @include position-absolute-right-bottom(0, 40px, 5);
}

.gender_data .gender-content {
  @include d-flex;
}

// Lightbox

.edit_content {
  width: 80%;
}

.edit_container {
  @include w100;
  margin-bottom: nth($rem5x, 4);
}

.edit_profile_title {
  @include w100;
  display: block;
  text-align: center;
  font-size: nth($rem5x, 3);
  margin-bottom: nth($rem5x, 3);
}

.edit_container .edit_gender {
  @include flex-align-items-center;
}

.edit_lightbox_btn {
  width: calc(50% - 15px);
}

.cancel_edit_mode {
  margin-right: nth($px10x, 3);
}

.edit_password_input {
  height: 45px;
}

.purchase_record_lightbox {
  @include max-H(80vh);
  width: 85%;

  .btn-group {
    justify-content: flex-end;
  }
}

.purchase_record_container {
  @include wh100;
}

.no_purchase_record {
  @include flex-center;
  padding: nth($rem5x, 4);
  font-size: nth($rem5x, 3);
}

.purchase_record_th,
.purchase_record_td {
  padding: nth($rem5x, 1);
  border: 1px solid $black;
  font-size: nth($rem5x, 2);
  font-weight: normal;
  text-align: center;
  color: $main;
}

.purchase_record_th {
  @include bg-color($gray-300);
}

.purchase_record_unit_container {
  height: 100%;
}

.purchase_record_unit {
  @include w100;
  padding-top: nth($rem5x, 2);
  padding-bottom: nth($rem5x, 2);
  border-bottom: 1px solid $gray-600;

  &:last-child {
    border: none;
  }
}

.purchase_record_line {
  display: inline-block;
  margin-bottom: nth($rem5x, 1);
  font-size: nth($rem5x, 2);
}

.password_label {
  @include position-absolute-left-top(0, 0, 2);
  display: block;
  line-height: nth($rem5x, 2);
  margin: nth($rem25x, 3) 0;
}

.password_label_img {
  margin-right: nth($rem5x, 1);
}

.change_password_control {
  @include position-relative;
  width: 375px;

  .change_password_input {
    @include w100;
    @include bg-color(transparent);

    border-bottom: nth($px, 2) solid $vueSelect2BorderColor;
    display: block;
    padding: nth($rem25x, 3) nth($rem25x, 3) nth($rem25x, 3) 30px;
    font-size: nth($rem5x, 2);
    font-weight: nth($num100, 4);
    line-height: nth($dot5, 3);
    color: $gray-700;
    transition: all 0.15s ease-in-out;

    &::placeholder {
      color: $vueSelect2BorderColor;
    }
  }

  .password_error_img {
    display: none;
    width: 1rem;
    @include position-absolute-right-top(0, 0, 1);
    margin-top: nth($px5x, 2);
  }
}

.password_form_group {
  @include position-relative;
  margin: nth($rem25x, 3) 0;

  &.error {
    .change_password_input {
      border-color: $errorColor;
    }

    .password_error_img {
      display: block;
    }
  }
}

.change_password_save_box {
  margin-top: 200px;
  @include flex-center-right;

  .change_password_save {
    padding: nth($rem5x, 1) nth($rem5x, 8);
  }
}

// RWD Start =============================
@include rwd('medium') {
  .myaccount_title_box {
    .myaccount_title_img {
      width: 64px;
    }

    .myaccount_title {
      font-size: nth($rem25x, 5);
    }
  }

  .myaccount_tab {
    font-size: nth($rem25x, 4);
  }

  .remiaing_lessions .myaccount_box_content {
    margin-top: nth($rem5x, 4);
  }

  .profile .myaccount_box_content {
    margin-top: nth($rem5x, 2);
  }

  .myaacount_remaining_unit {
    width: 90px;
  }

  .myaccount_box_title {
    font-size: nth($rem25x, 5);
  }

  .myaccount_remaining_content {
    justify-content: flex-start;
  }

  .myaccount_remaining_title {
    text-align: left;
    font-size: nth($rem25x, 4);
  }

  .myaccount_remaining_point {
    font-size: nth($rem5x, 8);
  }

  .myaccount_remaining_expired_date {
    font-size: nth($rem25x, 5);
  }

  .myaccount_remaining_expired_date {
    display: block;
  }

  .myaccount_link_to_pages {
    top: 45px;
    transform: none;
    display: flex;

    .myaccount_link {
      margin-right: nth($rem25x, 3);
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .change_password_link {
    bottom: 30px;
  }

  .change_password_control {
    @include w50;
  }
}

@include rwd('pad') {
  .change_password_control {
    @include w100;
  }
}

@include rwd('mobile') {
  .change_password_control {
    @include w100;

    .change_password_input {
      font-size: 14px;
    }
  }

  .change_password_save_box {
    margin-top: nth($rem5x, 6);
    justify-content: center;

    .change_password_save {
      @include w100;
    }
  }

  .purchase_record_lightbox {
    padding-top: 30px;
  }
}

@include rwd('mobile480') {
  .remiaing_lessions .myaccount_box_content {
    justify-content: space-between;
    margin-top: nth($rem5x, 6);
  }

  .myaccount_title_box {
    .myaccount_title_img {
      width: 50px;
    }

    .myaccount_title {
      font-size: nth($rem25x, 4);
    }
  }

  .myaccount_tab {
    font-size: nth($rem25x, 3);
  }

  .myaccount_box_unit {
    padding: nth($px5x, 3) 0;
  }

  .myaccount_box_title {
    font-size: nth($rem25x, 4);
  }

  .myaccount_remaining_title {
    text-align: left;
    font-size: nth($rem25x, 3);
  }

  .myaccount_link {
    font-size: nth($rem25x, 3);
  }

  .myaccount_link_to_pages {
    .myaccount_link {
      text-align: center;
    }
  }

  .myaacount_remaining_unit {
    height: 100px;
    margin-right: 0;
  }

  .myaccount_remaining_unit {
    margin-top: nth($px, 6);
  }

  .myaccount_remaining_title {
    text-align: center;
  }

  .myaccount_remaining_content {
    justify-content: center;
  }

  .myaccount_remaining_point {
    font-size: nth($rem25x, 8);
  }

  .myaccount_remaining_expired_date {
    font-size: nth($rem25x, 4);
  }

  .profile_lead,
  .profile_content {
    font-size: nth($rem25x, 4);
  }

  .edit_profile_link {
    top: 25px;
  }

  .change_password_link {
    bottom: 20px;
  }

  .en {
    .gender_data {
      align-items: flex-start;

      .gender-content {
        display: block;
      }
    }
  }

  .edit_profile_input {
    font-size: nth($rem25x, 4);
  }
}
