.purchase_root .sec {
  @include w100;
}

.purchase_agentcode_section {
  @include w100;
  @include flex-align-items-center;
  justify-content: flex-end;

  .purchase_agentcode_control {
    @include w100;
    @include flex-align-items-center;
    max-width: 264px;
    background: none;
    border: 1px solid $sub;
    border-radius: 31px;
    font-size: nth($px8x, 2);

    .agent_code {
      width: calc(100% - 80px);
      padding: nth($px5x, 2) nth($px10x, 3) nth($px5x, 2) nth($px10x, 2);
      color: $black;
      background: none;

      &::placeholder {
        color: $gray-400;
      }
    }

    .agent_code_confirm {
      width: 80px;
      height: 40px;
    }
  }
}

.purchase_courses_section {
  @include w100;
  @include d-flex-wrap;
}

.price_container {
  width: calc(20% - 24px);
  margin-right: nth($px10x, 3);
  margin-top: nth($px10x, 3);

  &:nth-child(5n + 5) {
    margin-right: 0;
  }
}

.price_box {
  @include w100;
  @include flex-center;
  @include flex-direction('|');
  padding: nth($px5x, 3);
  border: 1px solid rgba(0, 0, 0, 0.125);

  .price_title {
    @include w100;
    @include flex-center;

    font-size: 18px;
    font-weight: 500;
    line-height: nth($dot5, 3);
    margin-bottom: nth($px10x, 1);
  }

  .price_unit {
    color: $sub;
    font-size: nth($px8x, 2);
    line-height: nth($dot5, 3);
    text-align: center;

    .price_unit_line {
      @include w100;

      display: block;
    }

    &.original {
      padding-right: nth($px5x, 2);
    }

    &.sale {
      padding-left: nth($px5x, 2);
      border-left: 1px solid $sub;
    }
  }

  .hide_price .price_unit.sale {
    padding-left: 0;
    border-left: none;
  }
}

.gobuy {
  @include w100;
  padding: nth($px, 3) 0 nth($px, 8) 0;
  text-align: center;
  font-size: 14px;
  color: $white;
}

.remaining_section {
  @include w100;
  margin-top: nth($px10x, 6);

  .remaining_line {
    @include w100;

    display: block;
    text-align: right;
    color: $myAccountLabelColor;
    font-size: nth($px5x, 4);
    line-height: nth($dot5, 3);
  }
}

.no_classes_section {
  @include w100;
  @include flex-center;
  min-height: 400px;
  padding-bottom: nth($rem5x, 10);

  .no_classses_box {
    @include flex-center;
    @include flex-direction('|');

    width: 100px;
    font-size: nth($px8x, 2);
    color: $gray-600;

    .no_classses_img {
      @include w100;

      display: block;
    }

    .no_classes_text {
      @include w100;

      display: block;
      text-align: center;
      margin-top: nth($rem5x, 2);
    }
  }
}

// 代理商燈箱
.agnet_container {
  @include w100;
  @include flex-center;
  @include flex-direction('|');

  .agnet_title {
    @include w100;
    text-align: center;
    font-weight: bold;
    font-size: nth($px8x, 3);
    line-height: nth($dot5, 3);
    color: $gray-700;
    margin-bottom: nth($px10x, 2);
  }

  .agent_line {
    @include w100;
    @include flex-center;

    font-size: 18px;
    color: $gray-700;
    margin-bottom: nth($px5x, 3);

    &:last-child {
      margin-bottom: 0;
    }

    .agent_line_text {
      display: block;
      line-height: nth($dot5, 2);
    }
  }

  .close_agent_box {
    width: 150px;
    margin-top: nth($px10x, 3);
  }
}

// RWD Start ============================
@include rwd('xlarge') {
  .price_container {
    width: calc(25% - 22.5px);
    margin-right: nth($px10x, 3);

    &:nth-child(5n + 5) {
      margin-right: nth($px10x, 3);
    }

    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

@include rwd('large') {
  .price_container {
    width: calc(33.3333333% - 20px);

    &:nth-child(4n + 4) {
      margin-right: nth($px10x, 3);
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

@include rwd('medium') {
  .price_container {
    width: calc(50% - 15px);

    &:nth-child(3n + 3) {
      margin-right: nth($px10x, 3);
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  .remaining_section {
    margin-top: nth($px10x, 4);

    .remaining_line {
      font-size: nth($px8x, 2);
      line-height: nth($dot5, 3);
    }
  }
}

@include rwd('mobile') {
  .price_container {
    @include w100;
    margin-right: 0;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
  .remaining_section {
    margin-top: nth($px10x, 3);

    .remaining_line {
      text-align: center;
    }
  }

  // 代理商燈箱
  .agnet_container {
    @include w100;

    .agnet_title {
      font-size: nth($px8x, 2);
    }

    .agent_line {
      font-size: 14px;
    }

    .close_agent_box {
      width: 75px;
      font-size: 14px;
    }
  }
}
