.form-select {
  // @apply px-2 py-3;
  & .ant-select-selector {
    background: var(--grayscale-30) !important;
    border: none !important;
    padding: 12px 16px 12px 8px !important;
    height: 48px !important;

    input {
      height: 100% !important;
    }
  }

  .ant-select-arrow {
    height: 100%; /* 設置箭頭的高度為 Select 高度 */
    padding: 0; /* 清除多餘的 padding */
    top: 15%; /* 讓箭頭垂直居中 */
    color: white;
    fill: white;
  }

  .ant-select-item {
    & .ant-select-item-option-active,
    & .ant-select-item-option-selected,
    & .ant-select-item-option-selected:hover {
      background: transparent !important;
    }
  }
}

.ant-select-open .ant-select-arrow {
  transform: rotate(180deg); /* 旋轉180度 */
}

.ant-select-selection-placeholder {
  @apply text-base font-medium leading-6;
  color: var(--transparent-white-30) !important;
}

.form-select-popup {
  background: var(--grayscale-50) !important;
  margin: 0 !important;
  padding: 0 !important;
  gap: 0 !important;

  .ant-select-item-option {
    @apply relative py-2 relative px-4;
  }

  .ant-select-item-option::after {
    @apply content-[''] block w-[calc(100%-32px)] h-px absolute top-0 left-[8px] bgi-[var(--grayscale-70)] mx-2 px-0;
  }

  .ant-select-item-option:first-child::after {
    @apply hidden;
  }

  .ant-select-item-option-selected {
    background: transparent !important;
  }
}

.form-select-option {
  // background: white !important;
  // border-top: 1px solid white;

  .form-select-option-text {
    @apply text-base font-medium leading-6 text-[var(--grayscale-100)];
    // background: var(--grayscale-50) !important;
  }
}

.ant-select {
  height: auto !important;
}
