.pt20 {
  padding-top: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.lineChartBox {
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 50%;
    padding: 20px;
  }
}