@import "app/template/set_r033/assets/css/_variable.scss"

::v-deep(.q-expansion-item)
  background: none
  margin-bottom: 15px
  padding: 0px
  border-radius: .5rem
  background: $background-midnight-gray-color
  .agent-center-empty-img
    margin-top: 4.25rem
    + span
      margin-bottom: 3.25rem
  .q-item
    padding: 1rem
  .q-card
    background: $background-dark-color
    border-radius: 0 0 .5rem .5rem
  .q-card__section
    padding: 15px
    display: flex
    justify-content: flex-start
